@import url("https://fonts.googleapis.com/css?family=Roboto");

.feature-img {
  width: 30%;
  height 30%;
}

.blog-feature-img {
  width: 30%;
  height 30%;
}


.scroll{
  max-height: 900px;
  overflow-y: scroll;
}

.blog-wraper {
  min-height: calc(100vh - 80px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.blog-wraper2 {
  min-height: calc(100vh - 300px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.blog-signup-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
}
.blog-signup-card .blog-rightside-p{
	color: gray;
}
.blog-signup-card .blog-righside-p-mt{
	margin-top: 20px;
}
.blog-single-banner{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px;
}
.blog-menu {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
}
.blog-menu > li {
  position: relative;
  display: block;
  margin-bottom: 8px;
  padding-left: 10px;
}
.blog-menu > li::before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0;
  height: 0;
  border-left: 5px solid #2017af;
  position: absolute;
  left: -10px;
  top: 6px;
}
.blog-menu > li > a {
  color: #2017af;
  font-weight: 400;
  font-size: 16px;
}
.blog-menu > li > a b {
  font-weight: 400;
}

.blog-post {
  /*background-color: #fff;*/
}

.blog-post img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  border: 1px solid #EEE;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}


.blog-post1 img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: 100px;
  border-bottom: 1px solid #EEE;
}

.blog-content{
  border: 1px solid #EEE;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
  /* min-height: 480px !important; */
  height: 482px !important;
}

.blog-post-content p {
  font-size: 18px !important;
  line-height: 30px;
  }

.blog-content1{
  border: 1px solid #EEE;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}

.blog-body{
  padding: 10px;
}

.blog-post-content a {
  color: blue;
}
/* .blog-post-content2 a {
  color: blue;
} */
@media screen and (min-width:768px) {
  .blog-post-content2 a {
    color: blue;
  }

  
  .blog-post-content2 h1 {
    font-size: 2em;
  }

  .blog-post-content2 time {
    display: block;
    margin-bottom: 20px;
  }

  .blog-post-content2 img {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
  }
  
  .blog-post-content2,
.docs-content {
  /* height: 1000px; */
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}
}
@media (max-width:767px) {
  .blog-post-content2 a {
    color: blue;
  }

  
  .blog-post-content2 h1 {
    font-size: 2em;
  }

  .blog-post-content2 time {
    display: block;
    margin-bottom: 20px;
  }

  .blog-post-content2 img {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
  }
  
  .blog-post-content2 p {
    font-size: 16px !important;
    line-height: 28px;
  }
  .blog-post-content2
 {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}
}
.post-box{
  margin-bottom: 10px;
  min-height: 450px !important;
}

.images-list{
  margin-bottom: 0px !important;
}

.blog-post h1 {
  margin-top: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
}


.blog-post a {
  color: #242424;
  text-decoration: none;
  transition: color 0.1s ease-in-out 0s;
}


.blog-post h1 a:hover,
.blog-post h1 a:focus {
  color: #2017af;
}
.schedule-demo-cardn{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 10px;
  border: 1px solid rgb(203, 203, 203);
  margin-top: 20px;
}
.webinar-card-mark{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 10px;
  border: 1px solid rgb(203, 203, 203);
  margin-top: 20px;
  /* height: 250px; */

}
.webinar-card-markinfo{
  padding-left: 15px;
  font-weight: 600;
}


@media screen and (max-width:768px) {
  .webinar-card-mark{
    text-align: center;
  
  }
}
#blog-post-margins{
  margin-bottom: 0px !important;
}
.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

.blog-read-more {
  display: inline-block;
  height: 32px;
  padding: 0 15px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  outline: 0;
  border: 1px solid #ddd;
  color: #2017af;
  line-height: 30px;
}
.blog-read-more:hover,
.blog-read-more:focus {
  text-decoration: none;
  background-color: #2017af;
  color: #fff;
  border-color: #2017af;
}
.blog-post-content,
.docs-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}
/* .blog-post-content2,
.docs-content {
  height: 2000px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
} */

.blog-catgory{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
}

.blog-catgory_ul{
  margin-left: -40px;
  list-style-type:none;
  font-size: 16px !important;
}

.blog-catgory_li{
  margin-left: -22px;
  font-size: 15px !important;

}

.blog-post-content h1 {
  font-size: 2em;
}

/* .blog-post-content2 h1 {
  font-size: 2em;
} */
.blog-post-content time {
  display: block;
  margin-bottom: 20px;
}
/* .blog-post-content2 time {
  display: block;
  margin-bottom: 20px;
} */
.blog-post-content img {
  display: block;
  margin: 0 auto 15px;
  max-width: 100%;
  height: auto;
}
/* .blog-post-content2 img {
  display: block;
  margin: 0 auto 15px;
  max-width: 100%;
  height: auto;
} */
.blog-post-content p {
  font-size: 18px !important;
  line-height: 30px;
}
/* .blog-post-content2 p {
  font-size: 16px !important;
  line-height: 28px;
} */

.blog-post time {
  display: block;
  color: #787878;
  margin-top: 10px;
  margin-bottom: 20px;
}
.latest-heading {
  margin-top: 0;
  font-size: 24px;
}

.blog-post-content,
.docs-content {
background-color: #fff;
padding: 15px;
border-radius: 5px;
margin-bottom: 100px;
box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
0 8px 32px 0 rgba(55, 92, 192, 0.08);
}

.blog-post-body {
  max-width: 750px;
  margin: 0 auto 15px;
  font-size: 18px;
  line-height: 32px;
}

.blog-post-content h1 {
font-size: 2em;
}


.blog-post-body strong {
  color: black;
}
.doc-body iframe {
  width: 100%;
  height: 600px;
}
.docs-content h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.btn-danger {
 color: #FFF !important;
}

.btn-success {
 color: #FFF !important;
}

.btn-primary {
 color: #FFF !important;
}

.about-the-author{
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(24, 23, 23, 0.2);
  padding-bottom: 20px;

}
.about-the-author .author-info h4{
    margin-bottom: 0px !important;
}
.about-the-author .author-info{
  padding-top: 40px;
}

.blogs-description{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 6.5em;
	line-height: 1.6em;

}