@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/maven-pro/MavenPro-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/maven-pro/MavenPro-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/maven-pro/MavenPro-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Maven Pro';
	src: url('../fonts/maven-pro/MavenPro-Black.ttf');
	font-style: normal;
	font-weight: 900;
}
