body {
	/*font-family: 'Maven Pro';*/
	/*font-family: "Lato";*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*@font-face {font-family: "Visby CF Medium";
    src: url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.eot");
    src: url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7a959b5d6905b5b408a74c2bdaebb4cb.svg#Visby CF Medium") format("svg");
}*/

/*// $primary-color: #5449D2;*/
/*// $secondary-color: #FE825A;*/
/*---common----*/
@media (min-width: 1400px) {
	.container {
		width: 1360px;
	}
}
.section-header {
	position: relative;
	margin: 30px 0 30px;
}
.section-header::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	margin: 0 auto;
	width: 40px;
	height: 3px;
	background-color: #313ee7;
}
h1,h2 {
	font-weight: 700;
}
h3,h4,h6 {
	font-weight: 500;
}

p {font-size: 15px;}
ul li {font-size: 17px;}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*--end-----*/
.section-header h2 {
	font-size: 30px;
	color: #262626;
	text-align: center;
	margin: 0;
}

.carousel p{
	color: #000;
}

.row small {
	color: #000;
}

.form-control {
	border-radius: 2px;
}
.form-control:focus {
	border-color: #ddd;
	box-shadow: none;
}
.navbar-default {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	border-bottom: 0;
	padding: 10px 0;
	margin-bottom: 0;
}
.navbar {
	z-index: 4;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-weight: 500;
	padding-top: 10px !important;
  font-size: 16px;
  font-weight: 600px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar .btn-success:hover,
.navbar .btn-success:focus {
  background-color: #229622 !important;
  color: #fff !important;
}
.navbar-default .navbar-brand {
	padding: 10px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
}
.default-header .navbar-default {
	background: rgb(32,23,175);
	/*background: linear-gradient(90deg, rgba(32,23,175,1) 0%, rgba(178,46,209,1) 100%);*/
}
.default-header .navbar-brand {
	padding: 4px;
}
.default-header .navbar-default {
	position: fixed;
}
@media (max-width: 767px) {
	.navbar-collapse {
		background-color: #000;
		z-index: 2;
		border-top: 0;
	}
	.navbar-default .navbar-nav > li > a {
		display: block;
		text-align: center;
	}
}
/*----footer----*/
.footer {
	position: relative;
	background-color: #222;
	padding: 40px 0;
	z-index: 1;
}
.copyright {
	float: left;
	padding: 5px;
}
.footer-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-nav > li {
  font-size: 17px;
	display: block;
	margin-bottom: 4px;
}
.footer-nav > li > a {
	display: block;
	color: #f1f1f1;
	padding: 5px;
}
.footer-nav > li > a:hover,
.footer-nav > li > a:focus {
	color: #fff;
}
.footer .address-wraper {
	color: #fff;
}
.footer-item h2 {
	color: #fff;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 15px;
}
/*---end---*/
.btn-primary {
	background-color: #340068;
	color: #fff;
	border-color: #340068;
}

.btn-success {
	border-radius: 50px !important;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #470FF4;
	color: #fff;
	border-color: #470FF4;
}
.btn {
	height: 42px;
	padding: 10px 12px;
	border-radius: 2px;
}
.banner {
	min-height: 400px;
	position: relative;
	background: rgb(32,23,175);
	/*background: linear-gradient(90deg, rgba(32,23,175,1) 0%, rgba(113,8,232,1) 67%, rgba(178,46,209,1) 100%);*/
	padding: 10% 0 60px;
}
.banner-msg {
	position: relative;
	padding: 20px 0;
	width: 45%;
	float: left;
}
.banner-msg p {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
}
.btn {
	box-shadow: 0 2px 2px rgba(0,0,0,.15);
}
.banner-actions {
	margin-top: 50px;
}
.btn-banner-primary,
.btn-banner-secondary {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	border: 0;
	padding: 0 15px;
	border-radius: 50px;
	width: 48%;
	float: left;
	font-size: 16px;
}
.btn-banner-primary {
	background-color: #5cb75c;
	color: #fff;
	font-weight: 600;
	margin-right: 2%;
}
.btn-banner-primary:hover,
.btn-banner-primary:focus {
	color: #fff;
	background-color: #28e180;
}
.btn-banner-secondary {
	background-color: #fff;
	color: #262626;
	font-weight: 600;
}
.banner-illustration {
	float: right;
	margin-top: -47px;
	/*width: 60%;*/
	/*margin-right: -78px;*/
}
.banner-msg h1 {
	font-size: 40px;
	color: #fff;
}
.btn-secondary {
	background-color: #fff;
	border-color: #fff;
	color: #470FF4;
}

.banner-clients{
  text-align: center;
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px
}
.banner-clients img{
  width: 150px;
  margin-right: 10px;
}

.banner-clients a {
  text-decoration: none;
}

.customers-banner{
  text-align: center;
	padding: 50px;
}

.customers-case-study{
	text-align: center;
	padding: 50px;
}

.razorops-client{
  background-color: #efefef;
  padding: 30px;
}
.razorops-clients{
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-top: 20px;
}

.razopops-clients-img{
    padding: 5px;
    width: 300px;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 767px) {
	.banner-msg {
		float: none;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 320px;
		margin: auto;
		padding: 20px;
	}
	.banner {
		padding-top: 15%;
		min-height: 100vh;
	}
	.banner-msg h1 {
		font-size: 2em;
	}
	.banner-illustration {
		display: none;
	}
}
/*------how-it-works----*/
.how-it-works {
	background-color: #f2fcfb;
	padding: 50px 0;
	margin-bottom: -50px;
}
.steps-wraper {
	position: relative;
	max-width: 700px;
	margin: 50px auto;
}
.steps-connecter {
	position: absolute;
	height: 97%;
	top: 10px;
	bottom: 0;
	left: 50%;
	border: 2px dashed #313ee7;
}
.step-item {
	position: relative;
	z-index: 1;
}
.step-img {
	text-align: center;
}
.step-img img {
	max-width: 680px;
	height: 150px;
}
.step-4 .step-img img {
	width: 220px;
	height: 200px;
}
.step-2 .step-img img {
	width: 300px;
	height: auto;
}
.step-msg {
	position: relative;
	padding: 50px 0 50px 40px;
	width: 50%;
	margin-left: auto;
}
.step-dot {
	display: inline-block;
	position: absolute;
	top: 60px;
	left: -8px;
	width: 20px;
	height: 20px;
	background-color: #28e180;
	border-radius: 50%;
}
@media (max-width: 767px) {
	.step-img img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
/*---features----*/
.features {
	padding: 40px 0;
	/*background-color: #340068;*/
	background-color: #B1EDE8;
	background: rgb(32,23,175);
  /*background: linear-gradient(180deg, rgba(32,23,175,1) 0%, rgba(113,8,232,1) 67%, rgba(178,46,209,1) 100%);*/
}
.features .section-header h2 {
	color: #fff;
}
.features .section-header {
	margin-bottom: 65px;
}
.features .section-header::before {
	background-color: #fff;
}
.feature-item {
	padding: 10px 10px 10px 80px;
	margin-bottom: 30px;
	max-width: 450px;
}
.feature-item h4 {
	font-weight: 700;
	margin-top: 0;
	color: #fff;
}
.feature-item p {
	font-size: 16px;
	color: #fff;
}
.feature-item figure {
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
}
.feature-item figure img {
	display: inline-block;
	width: 60px;
	height: auto;
}


.header {
	position: relative;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
}
.header::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	width: 60px;
	height: 4px;
	margin: 0 auto;
	background-color: #5449D2;
}
.integrations {
	/*background-color: #f2fcfb;*/
	padding: 50px 0;
}
.integration-illustration img {
	max-width: 100%;
	height: auto;
}
.integration-msg {
	padding-top: 150px;
	padding-left: 50px;
}

.integration-msg p {
	font-size: 17px;
}
/*-----docs----*/
.content-wraper {
	padding-top: 70px;
}
.docs-wraper {
	position: relative;
	min-height: calc(100vh - 390px);
}
.docs-sidebar-sticky,
.table-contents-sticky {
	position: fixed;
	top: 70px;
	height: 100%;
	overflow-y: auto;
}
@media (min-width: 1200px) {
	.docs-sidebar-sticky {
		width: 220px;
	}
	.table-contents-sticky {
		width: 200px;
	}
}
.docs-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.docs-nav > li {
	display: block;
	width: 100%;
}
.docs-nav > li > a {
	display: block;
	margin-top: .625em;
	font-size: 16px;
	color: #464646;
	width: 100%;
	word-wrap: break-word;
	text-decoration: none;
}
.docs-nav > li > a:hover,
.docs-nav > li > a:focus {
	color: #313ee7;
}
.docs-nav > li h4 {
	color: #222;
	margin-top: 0;
	margin: 10px 0;
	font-size: 1.2em;
}


.razorops-ci-cd{
	padding: 60px 0;
	text-align: center;

	 /*background: rgb(32,23,175);*/
	/*background: linear-gradient(114deg, rgba(32,23,175,1) 0%, rgba(164,52,147,1) 100%);*/
}

.razorops-ci-cd h1 {
	margin-top: -20px;
	}
.razorops-ci-cd p{
	font-size: 17px;
}

.plan-and-pricing {
	border: 1px solid #EEE;
	padding: 20px;
	margin-bottom: 30px;
	color: #000;
	text-align: center;
	 background: #FFF;
	/*background: linear-gradient(114deg, rgba(32,23,175,1) 0%, rgba(164,52,147,1) 100%);*/
}

.plan-and-pricing p {
	font-size: 17px;
}

.demo-call-to-action {
	padding: 60px 0;
	text-align: center;
	margin-top: -10px;
	/*background: #2017af;*/
	color: #FFF;
	background: rgb(32,23,175);
	/*background: linear-gradient(114deg, rgba(32,23,175,1) 0%, rgba(164,52,147,1) 100%); */
}
.demo-call-to-action p {
	font-size: 16px;
}

.demo-text-color {
  color: #000;
}

.demo-call-to-action h2 {
	font-size: 3em;
	color: #FFF;
	margin-bottom: 40px;
	font-weight: 400;
}

.demo-call-to-action h2 b {
	font-weight: 700;
}

.demo-call-to-action .btn {
	display: block;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	border: 0;
	font-size: 1.2em;
	background-color: #313ee7;
	color: #fff;
	font-weight: 500;
	max-width: 260px;
	margin: 0 auto;
	border-radius: 50px;
}
.demo-call-to-action .btn:hover,
.demo-call-to-action .btn:focus {
	background-color: #313ee7;
}


.thankyou {
	margin:100px;
}

.thankyou p{
	font-size: 18px;
	font-weight: 400;
	padding: 50px;
}

.blog-menu {

}


.razorops-demo {
	/*background-image: url("../images/razorops-demo.svg");*/
	margin-top: 60px;
	margin-bottom: 60px;
	background-position: -5px 0px;
	min-height: 700px;
}

.razorops-contact{
	/*background-image: url("../images/razorops-ci-cd.png");*/
	background-repeat: no-repeat;
	margin-top: 60px;
	margin-bottom: 60px;
	background-position: -5px 0px;
	min-height: 600px;
}

/*----pricing----*/

.demo {
  padding: 30px 0
}
.pricing-tabs {
  display: flex;
  width: 300px;
  margin: 0 auto;
  border: 0;
  align-items: stretch;
}
.pricing-tabs > li {
  width: 50%;
  border: 0;
}
.pricing-tabs > li > a {
  border: 0;
  background-color: #fff;
  margin: 0 0 20px;
  border-radius: 0;
  color: #666;
}
.pricing-tabs > li:first-child > a {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pricing-tabs > li:last-child > a {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.pricing-tabs > li > a:hover,
.pricing-tabs > li > a:focus {
  background-color: #fff;
  color: #000;
}
.pricing-tabs > li.active > a:hover,
.pricing-tabs > li.active > a:focus,
.pricing-tabs > li.active > a {
  border: 0;
  background-color: #313ee7;
  color: #fff;
  font-weight: 600;
}
.pricingTable {
  text-align: center
}
.panel-faq > .panel-heading {
  background-color: #fff;
}
.accordion-toggle {
  position: relative;
}
.accordion-toggle:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #666;
}
.accordion-opened .accordion-toggle:after {
  content: "\e113";
}
body {
  padding: 0;
  margin: 0
}

.demo {
  background: #B2B2B2
}

h4 {
  color: #444
}

.pricingTable {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all .3s ease 0s
}

.pricingTable:hover {
  box-shadow: 0 0 5px #ddd inset, 0 0 10px #ddd;
}

.pricingTable svg {
  display: block;
  margin-left: -1px
}


.pricingTable .pricing-content {
  padding: 50px 0 30px;
  position: relative

}

.pricingTable .title {
  font-size: 35px;
  font-weight: 600;
  color: #6822bf;
  text-transform: uppercase;
  margin: 0 0 10px
}

.pricingTable .pricing-content ul {
  padding: 0;
  margin: 0 0 30px;
  list-style: none
}

.pricingTable .pricing-content ul li {
  font-size: 18px;
  line-height: 40px;
  text-transform: capitalize
  color: #000;
}

.pricingTable .pricingTable-signup {
  display: inline-block;
  padding: 8px 50px;
  background-color: #6517c7;
  border-color: #4cae4c;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  transition: all .3s ease 0s
}

.pricingTable:hover .pricingTable-signup{
  box-shadow: 0 0 10px #ae003d
}

.pricingTable .pricingTable-signup:hover {
	text-decoration: none;
	color: #FFF;
}

.pricingTable.green .title {
  color: #57bc80
}

.pricingTable.green .pricingTable-signup {
  background: #57bc80
}

.pricingTable.green:hover .pricingTable-signup {
  box-shadow: 0 0 10px #57bc80
}

.pricingTable.green .pricingTable-signup:hover {
  color: #FFF;
}

.pricingTable.blue .title {
  color: #2b49b2
}

.pricingTable.blue .pricingTable-signup {
  background: #2b49b2
}

.pricingTable.blue:hover .pricingTable-signup {
  box-shadow: 0 0 10px #2b49b2
}

.pricingTable.blue .pricingTable-signup:hover {
  color: #FFF;
}

@media only screen and (max-width:990px) {
  .pricingTable {
    margin-bottom: 30px
  }
}
.pricing-wraper {
	min-height: 80vh;
	padding: 20px 0 80px;
	background-color: #f6f8f6;
}
.pricing-header {
	margin-bottom: 50px;
	text-align: center;
}
.pricing-header p {
	font-size: 20px;
}



/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */



.item blockquote {
  /*background: #fff;*/
  color: #FFF;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  min-height: 200px;
}
.item blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.item blockquote p {
  display: inline;
  font-size: 20px;
}

.item blockquote small {
    display: block;
    font-size: 80%;
    line-height: 2.6;
    color: #FFF;
}

.testimonial {
  margin-top: -10px;
  background-color: #f4f5f7;
  color: #000;
 }

 .testimonial p small {
 	color: #000;
 }

 .testimonial-users {
 	color: #000;
 	font-size: 15px;
 	margin-top: 10px;
 }




 .lower-footer{
 	color: #FFF;
 	margin-left: 20px; 
 }

.lower-footer a {
	color: #FFF;
}

/* Static Pages css */

.page-body{
	max-width: 915px;
  margin: 0 auto 15px;
  text-align: justify;
}




/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

