body {
	font-family: Fakt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html,
body {
	height: 100%;
	width: 100%;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    font-size: 16px;
}

.mb-60{
	margin-bottom: -60px;
}

#intro {
    width: 100%;
    position: relative;
    background: url(../images/intro-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
}

.instructors_background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 567px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.primary-color{
 color: #1633ff !important;
}

/*---common----*/
.searchbox{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
}
.searchbox .form-control {
  border-radius: 21px;
  height: 40px;
}

.btn-animated {
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #FF6600; -webkit-box-shadow: 0 0 3px #FF6600; }
  50% { background-color: #F55F20; -webkit-box-shadow: 0 0 40px #F55F20; }
  100% { background-color: #FF6600; -webkit-box-shadow: 0 0 3px #FF6600; }
}

@-moz-keyframes glowing {
  0% { background-color: #FF6600; -moz-box-shadow: 0 0 3px #FF6600; }
  50% { background-color: #F55F20; -moz-box-shadow: 0 0 40px #F55F20; }
  100% { background-color: #FF6600; -moz-box-shadow: 0 0 3px #FF6600; }
}

@-o-keyframes glowing {
  0% { background-color: #FF6600; box-shadow: 0 0 3px #FF6600; }
  50% { background-color: #F55F20; box-shadow: 0 0 40px #F55F20; }
  100% { background-color: #FF6600; box-shadow: 0 0 3px #FF6600; }
}

@keyframes glowing {
  0% { background-color: #FF6600; box-shadow: 0 0 3px #FF6600; }
  50% { background-color: #F55F20; box-shadow: 0 0 40px #F55F20; }
  100% { background-color: #FF6600; box-shadow: 0 0 3px #FF6600; }
}


.btn-primary {
	background-color: #1835cd;
	color: #fff;
	/*border-color: #2017af;*/
	border-color: #1835cd;
}


.btn {
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
	        box-shadow: 0 2px 2px rgba(0,0,0,.15);
}
.btn.btn-rounded {
	border-radius: 21px !important;
}
.btn-lg.btn.btn-rounded {
	border-radius: 23px !important;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #2017af;
	color: #fff;
	border-color: #2017af;
}
@media (min-width: 1400px) {
	.container {
		width: 1360px;
	}
}
.section-header {
	position: relative;
	margin: 30px 0 30px;
}
.section-header::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	margin: 0 auto;
	width: 40px;
	height: 3px;
	background-color: #313ee7;
}
h1,h2 {
	font-weight: 700;
}
h3,h4,h6 {
	font-weight: 500;
}

p {font-size: 16px; !improtant}
ul li {font-size: 16px;}

.agile-group {
	margin-left: 1px !important;
}

.demo-img{
	margin-top: 35px;
	margin-bottom: 10px;
}

th, td {

                text-align:center;
                padding:15px

            }




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
	text-align: center;
}

.mt-ve55{
	margin-top: -65px;
}
.mt-80{
	margin-top: 100px;
}
.pr-4 {
	padding-right: 25px !important;
}
.pl-4 {
	padding-left: 25px !important;
}
.mr-4 {
	margin-right: 20px;
}
.btn-success-outline {
	border: 2px solid #5cb85c;
	background-color: #fff;
	color: #5cb85c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline:active {
	background-color: #5cb85c;
	color: #fff;
}
.bg-white {
	background-color: #fff;
}
/*--end-----*/
.section-header h2 {
	font-size: 30px;
	color: #262626;
	text-align: center;
	margin: 0;
}
.navbar .navbar-header button {
	width: auto !important;
}
.carousel p{
	color: #000;
}

.row small {
	color: #000;
}

.form-control {
	border-radius: 2px;
}
.form-control:focus {
	border-color: #ddd;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.navbar-default {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	border-bottom: 0;
	padding: 10px 0;
	margin-bottom: 0;
}
.navbar {
	z-index: 4;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-weight: 500;
	padding-top: 10px !important;
  font-size: 16px;
  font-weight: 600px;
}
.navbar-default .navbar-nav > li > .btn {
	padding: 6px 12px;
	font-size: 14px;
}
@media(max-width: 991px) {
	.navbar-default .navbar-nav > li > .btn {
		max-width: 300px;
		margin: 0 auto;
	}
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar .btn-success:hover,
.navbar .btn-success:focus {
  background-color: #229622 !important;
  color: #fff !important;
}
.navbar-default .navbar-brand {
	padding: 10px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;

}
.navbar-toggle {
	width: 20% !important;
}
.navbar-brand{
  width:80%;
	height:auto;
}
.exampleButton {float:right;width:20%;}
.default-header .navbar-default {
	/*background: rgb(32,23,175);*/
	background-color: #1545b3;
	/*background: linear-gradient(90deg, rgba(32,23,175,1) 0%, rgba(178,46,209,1) 100%);*/
}
.default-header .navbar-brand {
	padding: 4px;
}
.default-header .navbar-default {
	position: fixed;
}
@media (max-width: 767px) {
	.navbar-collapse {
		background-color: #000;
		z-index: 2;
		border-top: 0;
	}
	.navbar-default .navbar-nav > li > a {
		display: block;
		text-align: center;
	}
}
.nav-dropdown button {
	background-color: transparent;
	color: #fff;
	border: 0;
	background-image: none;
	outline: 0;
	padding: 10px 15px;
	line-height: 20px;
	font-weight: 500;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #fff;
}
@media (min-width: 768px) {
	.nav-dropdown:hover .dropdown-menu,
	.nav-dropdown:focus .dropdown-menu {
		display: block;
	}
	.nav-dropdown .dropdown-menu::before {
		content:"";
		position: absolute;
		right: 18px;
		top: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #ffffff transparent;
		z-index:9999;
	}
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		display: block;
		color: #fff;
		text-align: center;
	}
}


/*----footer----*/
.footer {
	position: relative;
	color: #253858;
	/*background-color: #2017af;*/
	padding: 50px 0;
	z-index: 1;
}
.copyright {
	float: left;
	padding: 5px;
}
.footer-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-nav > li {
  font-size: 16px;
	display: block;
	margin-bottom: 4px;
}
.footer-nav > li > a {
	display: block;
	color: #253858;
	padding: 1px;
}
.footer-nav > li > a:hover,
.footer-nav > li > a:focus {
	color: #000;
}
.footer .address-wraper {
	color: #253858;
}
.footer-item h2 {
	color: ;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 15px;
}
.footer-item a {
	text-decoration: none;
}
.lower-footer{
 	color: #253858;
 }
 .d-inline-block {
	 display: inline-block;
 }
.lower-footer a {
	color: #253858;
}
.footer-social{
	margin-left: 20px;
	margin-top: 20px;
}
.footer-social a {
	display: inline-block;
	margin-right: 8px;
}
/*---end---*/
.banner {
	/* --min-height: 100vh;
	height: 100%; --*/
	position: relative;
	background: rgb(32,23,175);
	padding: 10% 0 60px;
	overflow: hidden;
}
.banner-msg {
	position: relative;
	width: 48%;
	float: left;
	margin-top: -45px;
}
.banner-msg p {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}
.banner-actions {
	margin-top: 50px;
}
.banner-actions .btn {
	height: 43px;
}
.btn-banner-primary,
.btn-banner-secondary {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	border: 0;
	padding: 0 15px;
	border-radius: 50px;
	width: 48%;
	float: left;
	font-size: 16px;
}
.btn-banner-primary {
	background-color: #5cb75c;
	color: #fff;
	font-weight: 600;
	margin-right: 2%;
}
.btn-banner-primary:hover,
.btn-banner-primary:focus {
	color: #fff;
	background-color: #28e180;
}
.btn-banner-secondary {
	background-color: #fff;
	color: #262626;
	font-weight: 600;
}
.banner-illustration {
	float: right;
	margin-top: -87px;
	width: 50%;
	height: 90%;
	float: right;
	text-align: right;
	position: absolute;
	bottom: 5%;
	right: 0;
	z-index: 3;
}

.doc-link{
	color: #FFF;
	font-size: 16px;

}

.banner-actions a:hover {
	color: #fa610e;
	text-decoration: none;
}


.banner-illustration img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	margin: auto;
	max-width: 80%;
	opacity: 0;
	animation: .9s ease-out 0s 1 slideInFromBottom;
	-webkit-animation: .9s ease-out 0s 1 slideInFromBottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.banner-illustration img:nth-child(1) {
	z-index: 3;
}
.banner-illustration img:nth-child(2) {
  z-index: 2;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.banner-illustration img:nth-child(3) {
	z-index: 1;
	-webkit-animation-delay: .4s;
	        animation-delay: .4s;
}
@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
		opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
		opacity:1;
  }
}
@-webkit-keyframes slideInFromBottom {
	0% {
		opacity:0;
		-webkit-transform: translateY(30%);
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}
.banner-msg h1 {
	font-size: 60px;
	color: #fff;
}
.btn-secondary {
	background-color: #fff;
	border-color: #fff;
	color: #470FF4;
}

.banner-clients{
  text-align: center;
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -30px;
}
.banner-clients img{
  width: 150px;
  margin-right: 10px;
}
.banner-clients a {
  text-decoration: none;
}
.banner {
	position: relative;
}
.client-logo-wraper {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	flex-wrap: wrap;
}
@media(max-width: 992px) {
	.banner {
		padding: 40px 0;
		min-height: auto;
		height: auto;
	}
	.client-logo-wraper {
		position: relative;
		bottom: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.client-logo-item {
	margin-right: 15px;
}
.client-logo-item img {
	width: 100px;
	height: 100px;
}
/* .client-logo-item-2 {
	bottom: -240px;
	left: 18%;
}
.client-logo-item-3 {
	bottom: -200px;
	left: 40%;
}
.client-logo-item-4 {
	bottom: -290px;
	left: 56%;
}
.client-logo-item-5 {
	bottom: -240px;
	right: 15%;
}
.client-logo-item-6 {
	right: 10px;;
} */
.customers-banner{
  text-align: center;
	padding: 150px 15px;
	background-image: url("/images/v2/home-banner.png");
 	background-color: #FFF;
 	color: #FFF;
 	margin-top: -80px;
}

.auzmor-banner{
  text-align: center;
	padding: 150px 15px;
	background-image: url("/images/clients/auzmor-love-razorops.png");
 	background-color: #FFF;
 	color: #FFF;
}



.client-images{
	margin-top: 30px;
	margin-bottom: 80px;
}

.client-images img {
	max-width: 190px;
	height: 90px;
	text-align: center;
}
@media(max-width: 767px) {
	.customers-banner {
		padding: 100px 15px;
	}
	.client-images img {
		max-width: 150px;
		height: 50px;
		text-align: center;
	}
	.client-images {
		text-align: center;
	}
}
.customers-banner img {
	max-width: 240px;
	height: auto;
}
.customers-case-study{
	text-align: center;
	padding: 50px;
}

.razorops-client{
  background-color: #efefef;
  padding: 30px;
}
.razorops-clients{
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-top: 20px;
}

.razopops-clients-img{
    padding: 5px;
    width: 300px;
    height: auto;
    margin-top: 20px;
}


/*about*/
.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.team-title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100% !important;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


@media (max-width: 767px) {
	.banner-msg {
		position: relative;
		padding: 30px 0;
		width: 100%;
		margin-top: -100px;
	}
	button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: white;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 20% !important;
		font-size: 18px;
	}
	.banner {
		padding: 60px 30px;
		text-align: center;
	}
	.banner-msg h1 {
		font-size: 3.5em;
	}
	.banner-illustration {
		display: none;
	}
	.banner-msg p {
		font-size: 19px;
	}
	.banner-actions .btn {
		display: block;
		width: 100% !important;
		max-width: 300px;
		margin: 0 auto 15px;
	}
}
/*------how-it-works----*/
.how-it-works {
	background-color: #f2fcfb;
	padding: 50px 0;
	margin-bottom: -50px;
}
.steps-wraper {
	position: relative;
	max-width: 700px;
	margin: 50px auto;
}
.steps-connecter {
	position: absolute;
	height: 97%;
	top: 10px;
	bottom: 0;
	left: 50%;
	border: 2px dashed #313ee7;
}
.step-item {
	position: relative;
	z-index: 1;
}
.step-img {
	text-align: center;
}
.step-img img {
	max-width: 680px;
	height: 150px;
}
.step-4 .step-img img {
	width: 220px;
	height: 200px;
}
.step-2 .step-img img {
	width: 300px;
	height: auto;
}
.step-msg {
	position: relative;
	padding: 50px 0 50px 40px;
	width: 50%;
	margin-left: auto;
}
.step-dot {
	display: inline-block;
	position: absolute;
	top: 60px;
	left: -8px;
	width: 20px;
	height: 20px;
	background-color: #28e180;
	border-radius: 50%;
}
@media (max-width: 767px) {
	.step-img img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
/*---features----*/
.feature-img{
	/*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */*/
  /*filter: grayscale(100%);*/
}

.feature-img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.features {
	padding: 30px 50px;
	/*background-color: #340068;*/
	background-color: #FFF;
	/*background: rgb(32,23,175);*/
	margin-bottom: -90px;
  /*background: linear-gradient(180deg, rgba(32,23,175,1) 0%, rgba(113,8,232,1) 67%, rgba(178,46,209,1) 100%);*/
}
.features .section-header h2 {
	color: #000;
}
.features .section-header {
	margin-bottom: 65px;
}
.features .section-header::before {
	background-color: #fff;
}
.feature-item {
	/*padding: 10px 10px 10px 80px;*/
	margin-bottom: 30px;
	/*max-width: 450px;*/
}
.feature-item h4 {
	font-weight: 700;
	margin-top: 0;
	color: #000;
}
.feature-item p {
	font-size: 16px;
	color: #000;
}
.feature-item figure {
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	/*width: 80px;*/
	/*height: 80px;*/
	text-align: center;
}
.feature-item figure img {
	display: inline-block;
	/*width: 60px;*/
	height: auto;
}

.feature-item-img{
	width: 70%;
	text-align: center;
}


.header {
	position: relative;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
}
.header::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	width: 60px;
	height: 4px;
	margin: 0 auto;
	background-color: #5449D2;
}

.home-feature{
	background-color: #FFF;
	padding: 50px 0;
	margin-top: -10px;
}

.home-feature img {
	max-width: 30%;
	height: auto;
}

.home-deployment{
	background-color: #f3f5f9;
	padding: 50px 0;
	margin-top: -10px;
}


.home-deployment img {
	max-width: 30%;
	height: auto;
}

.platform-integrations img {
	max-width: 30%;
	height: auto;
}

.platform-integration-msg {
	padding-top: 10px;
	text-align: center;
}

.integrations {
	background-color: #f3f5f9;
  padding: 100px 0;
  margin-bottom: -60px;
}
.integration-illustration img {
	max-width: 100%;
	height: auto;
}
.integration-msg {
	padding-top: 150px;
	padding-left: 50px;
}

.integration-msg p {
	font-size: 16px;
}
/*-----docs----*/
.content-wraper {
	padding-top: 70px;
	background-color: #f3f5f9;
}
.docs-wraper {
	position: relative;
	min-height: calc(100vh - 390px);
}
.docs-sidebar-sticky,
.table-contents-sticky {
	position: fixed;
	top: 70px;
	height: 100%;
	overflow-y: auto;
}
@media (min-width: 1200px) {
	.docs-sidebar-sticky {
		width: 220px;
	}
	.table-contents-sticky {
		width: 200px;
	}
}
.docs-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.docs-nav > li {
	display: block;
	width: 100%;
}
.docs-nav > li > a {
	display: block;
	margin-top: .625em;
	font-size: 16px;
	color: #464646;
	width: 100%;
	word-wrap: break-word;
	text-decoration: none;
}
.docs-nav > li > a:hover,
.docs-nav > li > a:focus {
	color: #313ee7;
}
.docs-nav > li h4 {
	color: #222;
	margin-top: 0;
	margin: 10px 0;
	font-size: 1.2em;
}


.razorops-ci-cd{
	padding: 30px 0;
	text-align: center;
}

.razorops-ci-cd h1 {
	margin-top: -20px;
	}
.razorops-ci-cd p{
	font-size: 16px;
}

.discount10-yearly{
	text-align: center;
	text-transform: uppercase;
	color: #13cb6e;
	font-size: 14px;
	font-weight: bold;
}

.free-plan{
	border: 1px solid #EEE;
}

.price-ul{
	list-style-type: none;
}

.awards{
	margin-top: 150px;
	margin-bottom: 150px;
}

.plan-and-pricing {
	padding: 20px;
	margin-bottom: 30px;
	color: #000;
	text-align: center;
	 background: #FFF;
	/*background: linear-gradient(114deg, rgba(32,23,175,1) 0%, rgba(164,52,147,1) 100%);*/
}

.plan-and-pricing p {
	font-size: 16px;
}

.mb50{
	margin-bottom: 50px;
}

.demo-call-to-action {
	padding: 100px 0;
	text-align: center;
	margin-top: -10px;
	background: #1545b3;
	color: #FFF;
	/*background: rgb(32,23,175);*/
	/*background: linear-gradient(114deg, rgba(32,23,175,1) 0%, rgba(164,52,147,1) 100%); */
}
.demo-call-to-action p {
	font-size: 16px;
}

.demo-text-color {
  color: #000;
}

.demo-call-to-action h2 {
	font-size: 3em;
	color: #FFF;
	margin-bottom: 40px;
	font-weight: 400;
}

.demo-call-to-action h2 b {
	font-weight: 700;
}


.demo-call-to-action .btn:hover,
.demo-call-to-action .btn:focus {
	background-color: #313ee7;
}


.thankyou {
	margin:100px;
}

.thankyou p{
	font-size: 18px;
	font-weight: 400;
	padding: 50px;
}

.blog-menu {

}

.latest-post-img {
	width: 300px;
	height: 200px;
}


.razorops-demo {
	/*background-image: url("../images/razorops-demo.svg");*/
	margin-top: 60px;
	margin-bottom: 60px;
	background-position: -5px 0px;
	min-height: 700px;
}

.razorops-contact{
	/*background-image: url("../images/razorops-ci-cd.png");*/
	background-repeat: no-repeat;
	margin-top: 60px;
	margin-bottom: 60px;
	background-position: -5px 0px;
	min-height: 600px;
}

/*----FAQ----*/

.panel-default>.panel-heading {
  color: #333;
  background-color: #FFF;
  border-color: #ddd;
}

/*----pricing----*/

/*section.pricing {*/
  /*background: #f6f8f6;*/
  /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
/*}*/

.pricing .card {
  border: none;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: #FFF;
  padding: 15px;
	min-height: 480px;
}

.pricing .top-plan{
	border: 2px solid #1633ff;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 1.6rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
	display: block;
	max-width: 300px;
	margin: 0 auto;
	height: 38px;
  font-size: 90%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/*-----End of Price------*/

@media only screen and (max-width:990px) {
  .pricingTable {
    margin-bottom: 30px
  }
}
.pricing-wraper {
	min-height: 80vh;
	/*padding: 20px 0 80px;*/
	background-color: #f6f8f6;
}

.customer-wraper {
	min-height: 80vh;
	background-color: #FFF;
}


.pricing-header {
	margin-bottom: 50px;
	text-align: center;
}
.pricing-header p {
	font-size: 20px;
}

.box{
	background: #FFF;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 40px;
}

/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */



.item blockquote {
  /*background: #fff;*/
  color: #FFF;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  min-height: 200px;
}
.item blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.item blockquote p {
  display: inline;
  font-size: 16px;
}

.item blockquote small {
    display: block;
    font-size: 80%;
    line-height: 2.6;
    color: #FFF;
}

.testimonial {
  margin-top: -10px;
  background-color: #f3f5f9;
  color: #000;
  padding-bottom: 80px;
 }

 .testimonial p small {
 	color: #000;
 }

 .testimonial-users {
 	color: #000;
 	font-size: 15px;
 	margin-top: 10px;
 }

/* Static Pages css */

.page-body{
	max-width: 915px;
  margin: 0 auto 15px;
  text-align: justify;
}


.video-container {
  overflow: hidden;
	position: relative;
	text-align: center !important;
	padding-bottom: 400px;
	padding-top: 30px; height: 0; overflow: hidden;
	/*margin-left: 18%;*/
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

/* partners */

.partners-card {
  /*border: 1px solid #D8D8D8;*/
  /*border-radius: 5px;*/
  height: 157px;
  margin-bottom: 20px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

