---
layout: blog
title: Razorops | Blog
description: Learn how to achieve continuous delivery to Kubernetes with Helm, Istio, Selenium testings, security testing, performance testing, and more.
keywords: Docker, continuous delivery, Kubernetes with Helm, Istio, Selenium testings, security testing, performance testing
canonical_url: "https://razorops.com/blog"
image: /images/razorops-demo.webp
---

<div class="customers-banner">

  <div class="css-rpele6">

    <div class="css-1ucc15y">
      <span class="css-1fs6h3g">Blog</span>
      <span class="css-1wsvtv1">Simplest Container Native CI/CD Platform</span>
    </div>

    <div class="css-1o35fvd">
      <div class="searchbox">
        <center>{% include newsletter-search.html %}</center>
      </div>
    </div>

  </div>

  <div class="css-1d3bbye">

      <div class="img-latest-post">
      {% assign latest_post = site.posts.first %}
      <img src="{{ latest_post.image }}" alt="{{latest_post.title}}" class="img-latest-post"/>

    </div>

    <div class="css-twpyvg">
      <div class="css-q5k7tr">
        <div class="css-1wxaqej">
      <span class="css-1ildjns">{{ latest_post.date }}</span>
    </div>
        <div class="css-1wxaqej">
      <span class="css-84hkkp">{{latest_post.title}}</span>
    </div>
        <div class="css-1wxaqej">
      <span class="css-1myx1rc">{{latest_post.description}}</span>
    </div>
      <div class="css-1wxaqej">
      <span class="css-name" style="text-align: left;">{{latest_post.author}}</span>
        </div>
    </div>
    </div>
  </div>

</div>
<!-- <img src="/images/v2/razorops-white-logo.png" height="45">
<h2>Simplest Container Native CI/CD Platform</h2>
<div class="searchbox">
  <center>
  {% include search.html %}
  </center>
</div> -->
<div class="container">
  <div class="blog-wraper">
    <div class="blog-post">
      {% assign blogs = site.posts %}
      {% for post in blogs %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="col-sm-4 post-box">
            <div class="blog-content">
                <img src="{{ post.image }}"/>
              <div class="blog-body">
                <time>{{ post.date | date_to_string }}</time>
                <h1>{{ post.title }}</h1>

                <p class="blogs-description">{{ post.description}}</p>
                <br>
                <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="blog-read-more">Read More</a> -->
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
      <div class="clearfix"></div>
      <br>
    </div>
  </div>
</div>


