---
layout: page
title: Razorops Customers
description: Manage your entire pipeline visually or put inside your codebase. No scripts, delays and downtime.
keywords: Deployment Pipeline, Hosted Helm and docker Registries, Gitops, Automatic rollback, Code as configuration
canonical_url: 'http://razorops.com/customers'
---

<div class="pricing-wraper">
		<div class="customers-banner">
			<h2>Our customers love us</h2>
		</div>

		<div class="customers-case-study">
			<h2>Customer Case Studies</h2>
		</div>

		{% include testimonial.html %}
		<div class="banner-clients">
			<h2>Trusted by innovative companies</h2>
			{% include clients_logos.html %}
		</div>
		
</div>


