---
layout: page
title: Frequently Asked Questions - FAQ
description: Frequently Asked Questions at Razorops like How do I get started? faq etc.
canonical_url: 'https://razorops.com/faq'
image: /images/blog/razorops-one-repo.png
---

<div class="pricing-wraper">

  <div class="customers-banner">
    <img src="/images/v2/razorops-white-logo.png" height="45">
    <h2>Frequently Asked Questions</h2>
    <p>Following are some FAQ asked to Razorops Team.</p>
  </div>

	<div class="container">

		<br><br>
		{% include faq.html %}
	</div>
    {% include testimonial.html %}

</div>
