---
layout: home
title: Kubernetes, Kubernetes docker
description: Kubernetes in a simple term is a system for running and coordinating containerized applications across a collection of machines.
keywords: Continuous delivery, kubernetes, Docker, docker registry
canonical_url: 'https://razorops.com/'
image: /images/blog/razorops-one-repo.png
---

<div class="banner">
  <div class="container">
    <div class="banner-msg">
      <h1 class="hero__title">Continuous delivery simplified on Kubernetes</h1>
      <p class="hero__text">Automate your code to test to production across environments, apps in few steps.</p>
      <div class="banner-actions">
        <a href="/schedule-demo" class="btn btn-success-outline btn-rounded btn-lg pr-4 pl-4">SCHEDULE A DEMO</a>
        <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-success btn-lg btn-rounded pr-4 pl-4 mr-4">TRY IT FREE</a>
      </div>
    </div>
    <div class="banner-illustration">
      <img src="/images/kubernetes.svg" alt="kubernetes" style="margin-top: 100px;">
    </div>
  </div>

  <div class="client-logo-wraper">
    <div class="client-logo-item client-logo-item-1">
      <img src="{{ base_url }}/images/client-logos/yaxis.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-2">
      <img src="{{ base_url }}/images/client-logos/auzmor.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-3">
      <img src="{{ base_url }}/images/client-logos/1dossier.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-4">
      <img src="{{ base_url }}/images/client-logos/dbmtgroup.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-5">
        <img src="{{ base_url }}/images/client-logos/railsroot.png" alt="">
      </div>
    <div class="client-logo-item client-logo-item-6">
      <img src="{{ base_url }}/images/client-logos/trice.png" alt="">
    </div>
  </div>

</div>

<div class="how-it-works" id="how-it-works" >
  <div class="section-header">
    <h2>How it works</h2>
  </div>

  <div class="steps-wraper">
    <div class="steps-connecter"></div>
    <div class="step-item step-1">
      <div class="step-img">
        <img src="/images/razorops-assets/github-source-code.svg" alt="github source code">
      </div>
      <div class="step-msg">
        <i class="step-dot"></i>
        <h4>Source Code</h4>
        <p>
          Connect your code repositories, docker registry or preferred build system.
        </p>
      </div>
    </div>

    <div class="step-item step-2">
      <div class="step-img">
        <img src="/images/razorops-assets/define-pipeline.png" alt="Define Pipeline">
      </div>
      <div class="step-msg">
        <i class="step-dot"></i>
        <h4>Define Pipeline</h4>
        <p>
          Create continuous delivery pipelines in a few clicks using visual dashboards across apps, environments and teams.
        </p>
      </div>
    </div>

    <div class="step-item step-3">
      <div class="step-img">
        <img src="/images/razorops-assets/deploy-and-monitor.svg" alt="deploy and monitor">
      </div>
      <div class="step-msg">
        <i class="step-dot"></i>
        <h4>Deploy & Monitor</h4>
        <p>
          Promote releases between target environment and perform automatic health-check, logs metrics and rollback automatically.
        </p>
      </div>

      <div class="step-img">
        <img src="/images/razorops-assets/razorops-kubernetes.svg" alt="razorops kubernetes">
      </div>

    </div>

    <div class="step-item step-4">

      <div class="step-img">
          <img src="/images/platforms.png" alt="platforms" style="height: 110px;width:auto;">
        </div>
      <div class="step-msg">
        <i class="step-dot"></i>
        <h4>Keep you notified</h4>
        <p>
          Get automatic notifications of every build and deployment via Slack, HipChat, email, or webhooks.
        </p>
      </div>
    </div>

    <div class="step-item step-5">
      <div class="step-img">
        <img src="/images/razorops-assets/automatic-notifications.svg" alt="automatic notifications">
      </div>
    </div>
  </div>

</div>

{% include testimonial.html %}
{% include features.html %}
{% include integrations.html %}
