---
layout: home
title: Kubernetes, Kubernetes docker
description: Kubernetes in a simple term is a system for running and coordinating containerized applications across a collection of machines.
keywords: Continuous delivery, kubernetes, Docker, docker registry
canonical_url: 'https://razorops.com/'
image: /images/blog/razorops-one-repo.png
---

<div class="banner" id="intro">
  <div class="container">
    <div class="banner-msg">
      <h1 class="hero__title">Continuous delivery simplified on Kubernetes</h1>
      <p class="hero__text">Automate your code to test to production across environments, apps in few steps.</p>

      <div class="banner-actions">
        <a href="https://dashboard.razorops.com/users/sign_up" class="btn btn-default btn-lg pr-4 pl-4 mr-4" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> GET STARTED </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="https://docs.razorops.com/introduction/overview.html" target="-_blank" class="doc-link"><b>DOCUMENTATION</b> </a>
      </div>

    </div>

    <div class="banner-illustration">
      <img src="/images/kubernetes.svg" alt="kubernetes" style="margin-top: 100px;">
    </div>
  </div>

  <!-- <div class="client-logo-wraper">
    <div class="client-logo-item client-logo-item-1">
      <img src="{{ base_url }}/images/client-logos/yaxis.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-2">
      <img src="{{ base_url }}/images/client-logos/auzmor.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-3">
      <img src="{{ base_url }}/images/client-logos/1dossier.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-4">
      <img src="{{ base_url }}/images/client-logos/dbmtgroup.png" alt="">
    </div>
    <div class="client-logo-item client-logo-item-5">
        <img src="{{ base_url }}/images/client-logos/railsroot.png" alt="">
      </div>
    <div class="client-logo-item client-logo-item-6">
      <img src="{{ base_url }}/images/client-logos/trice.png" alt="">
    </div>
  </div> -->

</div>

<div class="razorops-ci-cd">
  <div class="container">
      <div class="section-header"><h2>Razorops makes it easy</h2></div>
      <div class="center">
        <img src="/images/v2/kubernetes-cd.png" alt="razorops deployment pipeline" title="razorops deployment pipeline" class="img-responsive">
      </div>
  </div>
</div>


{% include testimonial.html %}
{% include features.html %}
{% include integrations.html %}
