---
title: Container Native DevOps & CICD Newsletter |  RazorOps
layout: blog
description: get all the latest container-native & DevOps news in one place every week. Subscribe  RazorOps weekly CI/CD newsletter today and stay up-to-date.
canonical_url: https://razorops.com/newsletter
---

<div class="customers-banner">
  <img src="/images/v2/razorops-white-logo.png" height="45">
  <h2>Simplest Container Native CI/CD Platform</h2>
  <div class="searchbox">
    <center>
    {% include newsletter-search.html %}
    <a href="https://www.linkedin.com/newsletters/container-native-devops-cicd-6920671272087552000/" class="mt-10 btn btn-lg bg-white  full-rounded p-10" target="_blank"><img src="/images/v2/linkedin.svg" alt="Linkedin Newsletter" title="Linkedin Newsletter" width="26" height="26">&nbsp;Subscribe Our Newsletter</a>
    </center>
  </div>
</div>

<div class="container">
  <div class="blog-wraper">
    <div class="blog-post">
      {% assign newsletter = site.newsletter %}
      {% for post in newsletter reversed %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="col-sm-4 post-box">
            <div class="blog-content">
                <img src="{{ post.image }}"/>
              <div class="blog-body">
                <time class="pull-right">{{ post.date | date_to_string }}</time>
                <h1>{{ post.title }}</h1>
                <p class="news-letter-description">{{ post.description}}</p>
                <br>
                <a href="{{ site.baseurl }}{{ post.url }}" class="blog-read-more">Read More</a>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
      <div class="clearfix"></div>
      <br>
    </div>
  </div>
</div>
