---
layout: page
title: Razorops | Partner
description: "Start with Free Plan, Scale when you feel, No credit card required."
keywords: free cicd softwares, pricing, free plans, razorops, free cicd, Frequently Asked Questions. CICD FAQ
canonical_url: 'https://razorops.com/pricing'
image: /images/razorops-demo.png
---

<div class="pricing-wraper">
	<div class="container">
		<div class="row" style="margin: 30px 0px 70px 0px;">
			<div class="col-md-8">
                <br>
                <h1>Become a Civo partner today and enjoy exclusive benefits</h1>
                <p style="font-size: 20px;">Our partner program is simple. You send us leads and we provide you with some of the best benefits available, without any complicated conditions or hoops to jump through</p>
                <br>
                <ul>
                    <li style="font-size: 20px;">Any company can join</li>
                    <li style="font-size: 20px;"> Apply and we will get in touch to talk next steps </li>
                    <li style="font-size: 20px;">Quickly get access to amazing benefits </li>
                </ul>
                <br>
                <a href="/schedule-demo" class=" btn btn-rounded" style="background-color: rgb(23, 60, 182); color: azure;">Set up a meeting</a>
            </div>
            <div class="col-md-3">
                <img src="/images/partner-img.png"/>
            </div>
		</div>

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active text-center ">
				<h1>Earn exclusive benefits</h1>
                <p style="font-size: 18px;">Get additional benefits as you move up through our partner tiers, from registered to premier partner</p>
                <br>

                <div class="row text-center">
                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/marketing-benefit.svg"/>
                                <h3>Earn marketing benefits</h3>
                                <p style="font-size: 16px;">From contributed content opportunities, to co-marketing initiatives, we will make sure your company receives the best visibility.</p>
                        </div>
                    </div>

                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/presales.svg"/>
                                <h3>Get Pre-sales support</h3>
                                <p style="font-size: 16px;">Interact with Civo’s sales team and engineers to build relationships and make earning commission even easier.</p>
                        </div>
                    </div>

                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/earn-commision.svg"/>
                                <h3>Access additional ways to earn commission</h3>
                                <p style="font-size: 16px;">On our selected partner tier and above, you will gain access to earning lucrative commission on Civo Private Regions</p>
                        </div>
                    </div>
                </div>

			</div>
		</div>
		<br><br>

	</div>
    <div style="padding: 32px; background-color: rgb(38, 90, 202) ;">
    {% include signup_today.html %}
    </div>

    <div class="container">
        <div class="pricing-header">
            <div class="pricing-header">
                <h2 style="text-align:center;"><b>Frequently Asked Questions</b></h2>
            </div>
        </div>
        
        
        <div class="panel-group" id="faqAccordion">
        
            <div class="panel panel-default panel-faq">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="javascript:void(0)" class="ing" data-toggle="collapse"
                         data-target="#question2">Q: What happens if we don’t meet the annual revenue requirement?</a>
                    </h4>
                </div>
        
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p class="lead mb-0" >
                            We give each partner a 6 month grace period. If this commitment still hasn’t been met, partners may be required to move to a lower tier level.
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="panel panel-default panel-faq">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="javascript:void(0)" class="ing" data-toggle="collapse"
                         data-target="#question1">Q:
                         What does the onboarding process entail?
                        </a>
                    </h4>
                </div>
                
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p class="lead mb-0">
                            After a partner agreement is signed, we will issue you a welcome packet and a partner ID number. We will then set up an onboarding call to make sure you have everything you need to start earning commission.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default panel-faq">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="javascript:void(0)" class="ing" data-toggle="collapse"
                         data-target="#question3">Q:
                         Can I register a lead to be exclusive to us as a partner?</a>
                    </h4>
                </div>
        
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p class="lead mb-0">Yes, we have a deal registration process which allows you to register a lead to be aligned to you as a partner. In order for a lead to qualify for deal registration, the end user company must have shown a genuine interest in Civo or attended a partner qualifying event. </p>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default panel-faq">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="javascript:void(0)" class="ing" data-toggle="collapse"
                         data-target="#question4">Q:
                         Do you have other non-commission based partner programs?</a>
                    </h4>
                </div>
        
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p class="lead mb-0">Yes! If our partner program above doesn’t seem like the best fit for you, we are happy to chat about other options which may better suit your requirements. Why not set up a meeting today?</p>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default panel-faq">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="javascript:void(0)" class="ing" data-toggle="collapse"
                         data-target="#question5">Q: I have more question ?</a>
                    </h4>
                </div>
        
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p class="lead mb-0">Just send us an email at <a href="mailto:support@razorops.com?Subject=Hello" target="_top">support@razorops.com</a>, we'll be more than happy to help.</p>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>
        
    </div>

    <div class="container">
        
    </div>
	{% include testimonial2.html %}
    {% include our-clients.html %}

</div>
