---
layout: page
title: Razorops Partners Program
description: Join in Razorops Partners Program - check the Exclusive Partner Benefits & you can help your Clients to Automate their CI/CD Pipeline by Integrating the Razorops CI/CD Platform in their Workflow.
canonical_url: 'https://razorops.com/partners/'
image: '/images/meta-images/partners-meta-img.png'
---

<div class="customers-banner">
	<img src="/images/v2/razorops-white-logo.png"  style="height: 143px; object-fit: contain;" alt="razorops">
	<h2>Partner Program</h2>
	<p>Join the program and earn commissions.</p>
</div>

<div>
	
	<div class="pricing-wraper">
		<div class="container">
			<div style="margin: 0px 0px 70px 0px;">
				<div>
					<br>
					<h2 class="text-center section-header2">Sign up with Razorops Partners Program and enjoy exclusive Partners Benefits</h2>
					<p class="text-center" style="font-size: 20px;">Team up with Razorops to generate leads and Enjoy all the benefits offered exclusively to Razorops Partners with 3 simple steps</p>
					<br>
					<div class="row partner-middle-section">
						<div class="col-md-6 partner-left-section">
							<div><p><span>&#x2713;</span> Schedule a Meeting </p></div> 
							<div><p><span>&#x2713;</span> Discuss the details and benefits of the Razorops Partnership Program</p></div>
							<div><p><span>&#x2713;</span> Signup for the program & Avail all the exclusive Partners benefits instantly </p> </div>
						</div>
						<div class="col-md-6">
							<img src="/images/partner-image.webp" style="object-fit: contain; width: 100%;" alt="partners"/>
						</div>
					</div>	
					<br>
				</div>
			
			</div>
	
			<div class="tab-content">
				<div id="annually" class="tab-pane fade in active text-center ">
					<h2 class="section-header2" >Earn exclusive benefits</h2>
					<p style="font-size: 20px; margin-top:20px ;">Unlock additional benefits by moving up through the partnership tiers- Registered to Premiere Partnership.</p>
					<br>
	
					<div class="partner-card-section text-center container" style="margin-top:17px ;">
						<div class=" col-sm-4 partner-card">
							<div class="card-body">
									<img src="/images/marketing-benefits.png" alt="razorops marketing" class="card-img" />
									<h3 class="partner-title" >Earn marketing benefits</h3>
									<p style="font-size: 16px;">We assure HIGH VISIBILITY to our partners through contributed content and co-marketing initiatives.</p>
							</div>
						</div>
	
						<div class=" col-sm-4 partner-card">
							<div class="card-body">
									<img src="/images/presales.png" class="card-img" alt="presales" />
									<h3 class="partner-title" >Get Pre-sales support</h3>
									<p style="font-size: 16px;">Stay in constant touch with Razorops marketing & sales team to earn commissions easily.
									</p>
							</div>
						</div>
	
						<div class="col-sm-4 partner-card">
							<div class="card-body">
									<img src="/images/commission.png" class="card-img" alt="commission" />
									<h3 class="partner-title">Earn additional commission</h3>
									<p style="font-size: 16px;">Our selected partnership tier and higher will qualify for lucrative commissions on Razorops private regions.</p>
							</div>
						</div>

						
					</div>
	
				</div>
			</div>

			<br><br><br>
	
		</div>
		
		{% include signup_today.html %}
	
	
		<div class="container" style="margin-top: 20px;">
			<div class="pricing-header">
				<div class="pricing-header">
					<h2 style="text-align:center;"  class="section-header2"><b>Frequently Asked Questions</b></h2>
				</div>
			</div>
			
			
			
<main id="faq-panel">
    <article class="panel-groups bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Q: What is the procedure to join the Razorops Partners Program?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p style="padding: 18px;">All you need to do is follow a few simple steps. First step to join the Razorops Partners Program is to book a meeting with the Razorops team or you can write to us at <b class="text-primary">support@razorops.com</b>. Thereafter discuss the program in detail along with the benefits and join the program.
			</p>
          </div>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              
			Q. Who can join the Razorops Partners program to earn commission?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p style="padding: 18px;">Any company can join the Razorops Partners program- startups, small businesses, full fledged organisations, and earn commissions.
			</p>
          </div>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Q. How much amount can partners earn as commission?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p style="padding: 18px;">
				The commissions for the Partners Program will be 10% of the subscription plan selected by the subscriber.
			</p>
          </div>
        </div>
      </section>
	  <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				Q. What are the prime benefits offered to the partners?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <p style="padding: 18px;">The prime benefits offered to the partners through Razorops Partners Program are-
				<ul>
					<li>High Visibility through contributed content and co-marketing initiatives.</li>
					<li>Pre- Sales Support</li>
					<li>Chance to earn commissions</li>
				</ul>
			</p>
          </div>
        </div>
      </section>

	  <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				Q. What is the difference between Razorops Referral Program & Razorops Partners Program?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p style="padding: 18px;">
				As the title suggests Razorops Referral Program is for individuals to earn commissions whereas the Razorops Partners Program is for companies to join and earn commissions.	
			</p>
          </div>
        </div>
      </section>
	  
    </article>
  </main>
			
		</div>
	
		
	
		<!-- ******************our partners******************* -->
		{% include our-partners.html %}
			<!-- ********************************* partners end *************************  -->
	</div>


<div class="container">

	<div class="col-sm-6 mbtm-3">
		
		<div class="partners-card">
			<h3 class="text-dark"> Partner with us</h3>
			<p class="implementation-partner-desc">We are waiting to hear from you.
				Just drop your details and our team will get in touch with you.
				
			</p>
			
		</div>
		
		<div class="partners-card mbtm-3">
			<h3 class="text-dark"> Become an Implementation Partner</h3>
			<p class="implementation-partner-desc">Become an Implementation Partner and implement container native DevOps for our new customers.
				
			</p>
			
		</div>
		
		<div class="partners-card mbtm-3">
			<h3 class="text-dark"> Become a Reseller Partner</h3>
			<p class="implementation-partner-desc">
				Utilize RazorOps CI/CD for your existing customers or new customers and get a recurring revenue out of our subscription plans. 
				
			</p>
			
		</div>
	</div>

	<div class="col-sm-4">
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
          hbspt.forms.create({
          portalId: "6775901",
          formId: "ac2123e0-dbc1-497b-a2ff-a3296ef11bc3"
        });
        </script>
       <div class="clearfix"></div>
	</div>
</div>

</div>

		<div class="clearfix"></div>

	<br>
	<br>
	<br>
	<br>
