---
layout: page
title: Razorops | Plans and Pricing
description: "Start with Free Plan, Scale when you feel, No credit card required."
keywords: free cicd softwares, pricing, free plans, razorops, free cicd, Frequently Asked Questions. CICD FAQ
canonical_url: 'https://razorops.com/pricing'
image: /images/razorops-demo.png
---

<div class="pricing-wraper">

	<div class="container">

		<div class="pricing-header">
			<!-- <br>
			<h2 style="text-align:center; font-size: 42px;color: white;" class="section-header"><b>Pricing</b></h2>
			<p style="color: white;">Start with Free Plan, Scale when you feel, No credit card required.</p>
			<b style="color: white;">(Get Addition <i style="color: black;">10% Discount</i>, when you choose to sign up
				for <i style="color: black;">annual billing</i>)</b>
			<br>
			<br>

			<center>
				<div class="custom-checkbox">
					<input id="status" type="checkbox" name="status">
					<label for="status">
						<div class="status-switch" data-unchecked="Monthly" data-checked="Yearly"></div>
					</label>
				</div>
			</center> -->

			<div class="pricing-header-left">
				<span class="pricing-header-title">Choose your plan</span>
				<span class="pricing-header-description">Start with Free Plan, Scale when you feel, No credit card required.</span>
				<!-- <span class="css-y1ncwi"><b style="color: white;">(Get Addition <i style="color: black;">10% Discount</i>, when you choose to sign up
				for <i style="color: black;">annual billing</i>)</b></span>
				
				<br>
				<br> -->
			</div>
			<div class="pricing-header-right"><img alt="" src="../images/dollar.svg" class="pricing-header-dollar"></div>

		</div>

		<center>
			<div class="custom-checkbox">
				<input id="status" type="checkbox" name="status">
			<label for="status">
				<div class="status-switch" data-unchecked="Monthly" data-checked="Yearly"></div>
			</label>
		</div>
		</center>

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active">

				{% include pricing.html %}
			</div>
		</div>
		<br><br><br><br><br>

		{% include faq.html %}

	</div>

	{% include testimonial.html %}

</div>

<link rel="stylesheet" href="{{ site.baseurl }}/css/pricing.css" />
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/top-clients.css" /> -->
