---
layout: page
title: Pricing
description: "Razorops Free 100 Builds/month with Unlimited Projects"
keywords: "pricing, Free Builds, Concurrent Builds, Unlimited Projects "
canonical_url: 'http://razorops.com/pricing'
---
<div class="pricing-wraper">
	<div class="container">

		<div class="pricing-header">
			<h2 style="text-align:center;"><b>Pricing</b></h2>
			<p>Start with Free Plan, Scale when you needs, No credit card required.</p>
		</div>

		<div style="text-align: center;">

			<ul class="nav nav-tabs pricing-tabs">
				<li class="active"><a data-toggle="tab" href="#annually">ANNUALLY</a></li>
				<li><a data-toggle="tab" href="#monthly">MONTHLY</a></li>
			</ul>
		</div>

		<br>
		<br>

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active">
				{% include annual-pricing.html %}
			</div>

			<div id="monthly" class="tab-pane fade">
				{% include monthly-pricing.html %}
			</div>
		</div>

		<br>
		<br>


		<div class="plan-and-pricing">
		  <h2>Always Free for Open Source</h2>

		</div>

		<br>
		<br>

		<div class="pricing-header">
			<div class="pricing-header">
				<h2 style="text-align:center;"><b>Frequently Asked Questions</b></h2>
			</div>
		</div>

		<div class="panel-group" id="faqAccordion">

			<!-- <div class="panel panel-default panel-faq">
				<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
					<h4 class="panel-title">
						<a href="javascript:void(0)" class="ing" data-toggle="collapse" data-target="#question0">
							Q:What is a concurrent build?
						</a>
					</h4>

				</div>
				<div id="question0" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
						<h5><span class="label label-primary">Answer</span></h5>

						<p>
							Concurrent builds states number of jobs that can run at the same time, <br> Concurrent builds allow you to run multiple jobs at same. Every commit triggers a one job by default. If two commits have been pushed on the Free plan, they'll be run right away and subsequent commits have to wait until the builds finished.
						</p>
					</div>
				</div>
			</div> -->



			<div class="panel panel-default panel-faq">
				<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
					<h4 class="panel-title">
						<a href="javascript:void(0)" class="ing" data-toggle="collapse"
						 data-target="#question2">Q:
						 Which source code management services are supported?
						</a>
					</h4>

				</div>
				<div id="question2" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
						<h5><span class="label label-primary">Answer</span></h5>
						<p>Razorops supports any GIT based server like  GitHub, Bitbucket and GitLab repositories including Self-Hosted GIT SCM</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-faq">
				<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
					<h4 class="panel-title">
						<a href="javascript:void(0)" class="ing" data-toggle="collapse"
						 data-target="#question3">Q:
							How do you handle upgrading or canceling a subscription?</a>
					</h4>
				</div>
				<div id="question3" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
						<h5><span class="label label-primary">Answer</span></h5>
						<p>You can change or cancel your subscription at any time. </p>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-faq">
				<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
					<h4 class="panel-title">
						<a href="javascript:void(0)" class="ing" data-toggle="collapse"
						 data-target="#question1">Q:
							Do your have something custom plan?</a>
					</h4>

				</div>
				<div id="question1" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
						<h5><span class="label label-primary">Answer</span></h5>
						<p>Most of our customers find razorops SAAS environment covers their usecase. Some time few developers needs extra support and features. Our support team helps them.</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-faq">
				<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
					<h4 class="panel-title">
						<a href="javascript:void(0)" class="ing" data-toggle="collapse"
						 data-target="#question5">Q: I have more question ?</a>
					</h4>

				</div>
				<div id="question5" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
						<h5><span class="label label-primary">Answer</span></h5>
						<p>Just send us an email at contact@razorops.com, we'll be more than happy to help.</p>
					</div>
				</div>
			</div>

			<div class="demo-call-to-action">
				<p>PRETTY CONVINCING, RIGHT?</p>
				<h2>Request a <b>free demo</b></h2>
				<a href="/schedule-demo" class="btn btn-demo-request">Schedule Demo</a>
			</div>

		</div>
		<!--/panel-group-->

	</div>
</div>
