---
layout: page
title: Razorops | Plans and Pricing
description: "Start with Free Plan, Scale when you feel, No credit card required."
keywords: free cicd softwares, pricing, free plans, razorops, free cicd, Frequently Asked Questions. CICD FAQ
canonical_url: 'https://razorops.com/pricing'
image: /images/razorops-demo.png
---

<div class="pricing-wraper">
	<div class="container">
		<div class="pricing-header">
			<br>
			<h1 style="text-align:center;"><b>Pricing</b></h1>
			<p>Start with Free Plan, Scale when you feel, No credit card required.</p>
			<p style="font-size: 15px;">(Get 2 months free when you choose to sign up for annual billing!)</p>
		</div>

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active">
				{% include pricing.html %}
			</div>
		</div>
		<br><br><br><br><br>
		
		{% include faq.html %}

	</div>

	{% include testimonial.html %}

</div>
