---
layout: page
title: Razorops | Referral
description: "Start with Free Plan, Scale when you feel, No credit card required."
keywords: free cicd softwares, pricing, free plans, razorops, free cicd, Frequently Asked Questions. CICD FAQ
canonical_url: 'https://razorops.com/pricing'
image: /images/razorops-demo.png
---

<div class="pricing-wraper">
	<div class="container">
		<div class="pricing-header">
			<br>
			<h1 style="text-align:center;"><b>Referral Program</b></h1>
			<p>Refer new customers and earn up to $100!</p>
			<a href="https://dashboard.razorops.com/users/sign_up" class="btn" style="background-color: rgb(20, 70, 187); color: aliceblue;">Get Started</a>
		</div>

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active text-center">
				<h1>How it works</h1>
                <p>Tell a friend about Vultr and earn money when they are active for 30+ days.</p>

                <div class="row text-center">
                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/referrals.svg"/>
                                <h3>Share Referral Link</h3>
                                <p>Share the unique referral link in your customer portal with your friends and family.</p>
                        </div>
                    </div>

                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/referrals-signup.svg"/>
                                <h3>Referral Signs Up</h3>
                                <p>Each new unique customer and refer qualifies for a referral bonus!</p>
                        </div>
                    </div>

                    <div class="card col-sm-4">
                        <div class="card-body">
                                <img src="/images/earn-payout.svg"/>
                                <h3>Receive a Payout</h3>
                                <p>Ypu'll earn pauouts for each verified new referral.</p>
                        </div>
                    </div>
                </div>

                <a href="https://dashboard.razorops.com/users/sign_up" class="btn"  style="background-color: rgb(20, 70, 187); color: aliceblue;">Get Started</a>
			</div>
		</div>
		<br><br><br><br><br>
		
		{% include referral_faq.html %}

	</div>

	{% include testimonial.html %}

</div>
