---
layout: page
title: Become a Partners with
description: Become a Partner and Grow your customer base with Razorops, become Implementation or Technology Partners Resell or Integrate your solutions with Razorops
canonical_url: 'http://razorops.com/referral'
image: /images/razorops-referral.png
---

<div class="customers-banner">
	<img src="/images/v2/razorops-white-logo.png"  style="height: 80px; object-fit: contain;">
	<h2>Referral Program</h2>
	<p>Join Razorops partner program and integrate your solution.</p>
    <a href="https://dashboard.razorops.com/users/sign_up" class="btn title-btn">Get Started</a>

</div>


<div class="pricing-wraper">
	<div class="container">
		<!-- <div class="pricing-header">
			<br>
			<h1 style="text-align:center;"><b>Referral Program</b></h1>
			<p>Refer new customers and earn up to $100!</p>
			<a href="https://dashboard.razorops.com/users/sign_up" class="btn" style="background-color: rgb(20, 70, 187); color: aliceblue;">Get Started</a>
		</div> -->

		<div class="tab-content">
			<div id="annually" class="tab-pane fade in active text-center">
				<h1>How it works</h1>
                <p style="font-size: 19px;">Tell a friend about Vultr and earn money when they are active for 30+ days.</p>

                <div class="row text-center">
                    <div class="refcard col-sm-3">
                        <div class="card-body">
                                <img src="/images/referrals.svg" class="card-img"/>
                                <h3 class="card-head">Share Referral Link</h3>
                                <p style="font-size: 17px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Share the unique referral link in your customer portal with your friends and family.</p>
                        </div>
                    </div>
                    <span><img src="/images/right-arrw.png"height="78px" width="67px"  class="col-sm-1 cardarrow"/></span>
                    <div class="refcard col-sm-3">
                        <div class="card-body">
                                <img src="/images/referrals-signup.svg" class="card-img"/>
                                <h3 class="card-head">Referral Signs Up</h3>
                                <p style="font-size: 17px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Each new unique customer and refer qualifies for a referral bonus!</p>
                        </div>
                    </div>
                    <span><img src="/images/right-arrw.png"height="78px" width="67px" class="col-sm-1 cardarrow" /></span>
                    <div class="refcard col-sm-4">
                        <div class="card-body">
                                <img src="/images/earn-payout.svg" class="card-img"/>
                                <h3 class="card-head">Receive a Payout</h3>
                                <p style="font-size: 17px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">You'll earn payouts for each verified new referral.</p>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 16px;">
                    <a href="https://dashboard.razorops.com/users/sign_up" class="btn"  style="background-color: rgb(20, 70, 187); color: aliceblue; font-size: 17px; font-weight: 600; padding-top: 8px ;">Get Started</a>
                </div>  
			</div>
		</div>
		<br><br><br><br><br>
		
		{% include referral_faq.html %}

	</div>

	{% include testimonial.html %}

</div>
