---
layout: page
title: Thank you for registration | Razorops - CI/CD Webinar
description: We are always looking for new authors to share the expertise in the Devops,CI/CD, Kubernetes, Docker, SDLC. Share your titles with Razorops. Also check out complete guidelines to publish  an article in Razorops Blog.
canonical_url: 'http://razorops.com/webinar-thankyou'
image: '/images/meta-images/webinar-thankyou-meta-img.png'
---

<!-- <div class="customers-banner">
    <img src="/images/v2/razorops-white-logo.png" height="45">
    <h2>One Step Forward - You are Now  Registered for Webinar </h2>
    <h3>
        <a title="Add to Calendar" class="addeventatc" data-id="Kl15262354" href="https://www.addevent.com/event/Kl15262354" target="_blank">Add this event to Calendar</a> 
        <script type="text/javascript" src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
        
    </h3>
</div> -->
<br>
<br>
<div class="alert alert-primary">
    <center>

<h1 class="section-header2">Thank you!</h1>
<p>Explore our community pages for more learning</p>
</center>
</div>

{% include community.html %}


{% include signup_cta.html %}
