  <!-- **************** About article author ********************* -->
  <div class="about-the-author row">
    <div class="col-sm-3 text-center">
      <img src="/images/MAHESHWARI-DP.jpg" width="206" height=" 201" class="mt-10 rounded">
    </div>
    <div class="col-sm-9 author-info"> 
      <h4><b>Maheshwari Dantuluri</b></h4>
      <small><b class="text-blue">Salesforce Developer</b></small>
  
      <p class="mt-10">Maheshwari Dantuluri is a salesforce developer she has knowledge on Apex, Aura Components , Java and  Databases.She loves technical content writing which gives her an opportunity to learn new technologies. She loves to spend her free time with dogs and geeking over films and web series </p>
    </div>  
  </div>
  <br>
  <br>