  <!-- **************** About article author ********************* -->
  <div class="about-the-author row">
    <div class="col-sm-3 text-center">
      <img src="/images/saurabh-yadav.jpeg" width="206" height=" 201" class="mt-10 rounded">
    </div>
    <div class="col-sm-9 author-info"> 
      <h4><b>Saurabh Yadav</b></h4>
      <small><b class="text-blue">DevOps Engineer</b></small>
  
      <p class="mt-10">Saurabh Yadav is a DevOps Engineer and he has 3+ years of experience in the areas of Software Development, Devops, CI/CD, Kubernetes, and he also guides companies to adopt CI/CD pipelines which will help them to automate their workflow.</p>
    </div>  
  </div>
  <br>
  <br>