  <!-- **************** About article author ********************* -->
  <div class="about-the-author row">
    <div class="col-sm-3 text-center">
    <img src="/images/sravani-bikkina.jpg" class="mt-10 rounded" style="width: 150px; height: 150px; object-fit: cover;" alt="sravani">
    </div>
    <div class="col-sm-9 author-info"> 
      <h4><b>Sravani Bikkina</b></h4>
      <small><b class="text-blue">DevOps Engineer</b></small>
  
      <p class="mt-10">Sravani is a DevOps engineer at Razorops and she has hands-on experience in Devops, Cloud, Git, Docker Kubernetes and CI/CD.</p>
    </div>  
  </div>
  <br>
  <br>