<div class="awards" id="awards">
  <div class="section-header">
    <h2>Awards & Certificates</h2>
  </div>

  <div class="container">
    <br /><br /><br />
    <div class="row img-align">
      <center>
        <div class="col-sm-4">
          <a
            href="https://reviews.financesonline.com/p/razorops/"
            target="_blank"
          >
            <img
              src="/images/risingstar-2019.webp"
              alt="razorops awards risingstar"
              style="display: block; max-width: 100%; height: 220px;"
            />
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.softwaresuggest.com/razorops" target="_blank">
            <img
              src="/images/Rising-Star-2022.png"
              alt="rising star 2022"
              style="display: block; max-width: 100%; height: 250px;"
              />
          </a>
        </div>
        <div class="col-sm-4">
          <a
            href="https://reviews.financesonline.com/p/razorops/"
            target="_blank"
          >
            <img
              src="/images/premium-usability-2019.webp"
              alt="premium usability"
              style="display: block; max-width: 100%; height: 220px;"
              />
          </a>
        </div>
      </center>
    </div>
  </div>
</div>
