<div class="awards" id="awards" >

  <div class="section-header">
    <h2> Awards & Certificates </h2>
  </div>

  <div class="container">
    <br><br><br>
    <div class="row">
      <center>
        <div class="col-md-6">
          <a href="https://reviews.financesonline.com/p/razorops/" target="_blank">
            <img src="/images/risingstar-2019.webp" alt="razorops awards risingstar" width="400">
          </a>
        </div>
        <div class="col-md-6">
          <a href="https://reviews.financesonline.com/p/razorops/" target="_blank">
            <img src="/images/premium-usability-2019.webp" alt="premium usability" width="400">
          </a>
        </div>
      </center>
    </div>
  </div>
</div>

