<div class="clearfix"></div>
<div class="banner-clients">

  <!-- <a href="https://dbmtgroup.com/" target="_blank"> -->
    <img src="/images/clients/DBMTGroup.png" alt="DBMTGroup">
  <!-- </a> -->

  <!-- <a href="https://www.auzmor.com/" target="_blank"> -->
  	<img src="/images/clients/auzmor.png" alt="Auzmor">
  <!-- </a> -->
  
  <!-- <a href="https://scraptap.in/" target="_blank"> -->
  	<img src="/images/clients/scraptap.jpg" alt="Scraptp">
  <!-- </a> -->

  <!-- <a href="https://signup.y-axis.com/" target="_blank"> -->
  	<img src="/images/clients/y-axis.jpg" alt="Y AXIS" >
	<!-- </a> -->
  
  <!-- <a href="https://www.hiredgrad.com/" target="_blank"> -->
	  <img src="/images/clients/hiredgrad.jpg" alt="Hiredgrad">
	<!-- </a> -->

  <!-- <a href="https://maverick.ai/" target="_blank"> -->
	  <img src="/images/clients/maverick.jpg" alt="Maverick">
	<!-- </a> -->

  <!-- <a href="https://1dossier.fr/" target="_blank"> -->
    <img src="/images/clients/1Dossier.png" alt="1Dossier">
  <!-- </a> -->

</div>
