{% include search.html %}
<br>


<div class="blog-signup-card text-center">
  <h3> Get The Fastest ever CI/CD platform for fully automated workflow.</h3>
  <p class="blog-rightside-p">Signup for free with...</p>
  <br>
  <a href="https://dashboard.razorops.com/users/auth/github" class="btn btn-default btn-lg pr-4 signup-btns1 signuponclick  mb-20" id="github"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/v2/github-white.svg" alt="github"  width="40" height="40">&nbsp;&nbsp;  <b>GitHub&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></a>
  <br>
  <a href="https://dashboard.razorops.com/users/auth/bitbucket" class="btn btn-default btn-lg pr-4 signup-btns2 signuponclick mb-20" id="bitbucket" > &nbsp;&nbsp;&nbsp;<img src="/images/v2/bitbucket-white.svg" alt="bitbucket" width="40" height="40">&nbsp;&nbsp; <b>BitBucket&nbsp;&nbsp;&nbsp;</b></a>
  <br>
  <a href="https://dashboard.razorops.com/users/auth/gitlab" class="btn btn-lg pr-4 signup-btns3 signuponclick mb-20" id="gitlab" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/v2/gitlab.webp" alt="gitlab" width="40" height="40">&nbsp;&nbsp; <b>Gitlab&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</b></a>
  
  <br>

</div>
<div class="schedule-demo-cardn">
  {% include schedule-demo.html %}
</div>
<br>
<br>
  <a href="https://www.g2.com/products/razorops/details" target="_blank"><img src="/images/blog/g2-crowd-review.png" class="img-responsive"></a>
  <br><br>
  <!-- <a href="https://twitter.com/razorops" target="_blank"><img src="/images/blog/twitter.png" class="img-responsive"></a>
  <br><br> -->

  <p><b>LATEST POSTS</b></p>
  <ul class="blog-catgory_ul">
    {% for category in site.categories %}
      <li><b><a name="{{ category | first }}">{{ category | first }}</a></b>
        <ul>
        {% for post in category.last %}
          <li class="blog-catgory_li"><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>