{% include search.html %}
<br>

<p><b>LATEST POSTS</b></p>
<ul class="blog-catgory_ul">
  {% for category in site.categories %}
    <li><b><a name="{{ category | first }}">{{ category | first }}</a></b>
      <ul>
      {% for post in category.last %}
        <li class="blog-catgory_li"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

  <a href="https://www.g2.com/products/razorops/details" target="_blank"><img src="/images/blog/g2-crowd-review.png" class="img-responsive"></a>
  <br><br>
  <a href="https://twitter.com/razorops" target="_blank"><img src="/images/blog/twitter.png" class="img-responsive"></a>
  <br><br>

