<div class="clearfix"></div>
	
<div class="banner-clients">
  <img src="/images/clients/DBMTGroup.png" alt="DBMTGroup" class="feature-img">
	<img src="/images/clients/auzmor.png" alt="Auzmor" class="feature-img">
	<img src="/images/clients/scraptap.jpg" alt="Scraptap" class="feature-img">
	<img src="/images/clients/y-axis.jpg" alt="Y AXIS" class="feature-img">
  <img src="/images/clients/hiredgrad.jpg" alt="Hiredgrad" class="feature-img">
  <img src="/images/clients/maverick.jpg" alt="Maverick" class="feature-img">
  <img src="/images/clients/1Dossier.png" alt="1Dossier" class="feature-img">
</div>


