<div class="clearfix"></div>
<div class="row">
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/yaxis.png" alt="Y AXIS" class="feature-img">
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/auzmor.png" alt="Y AXIS" class="feature-img">
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/1dossier.png" alt="Y AXIS" class="feature-img">
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/dbmt-group.png" alt="Y AXIS" class="feature-img">
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/railsroot.png" alt="Y AXIS" class="feature-img">
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/trice.png" alt="Y AXIS" class="feature-img">
	</div>
</div>
<br><br>
<br><br>
