<div class="app">
    <div class="container">
      <div class="app__inner">
        <div class="app__main">
          <div class="text-container">
            <div class="thankyou text-center">
                

                <div class="join-community text-center row">
                    <h2 class="section-header2">Join RazorOps Community</h2>
                    <p>Get the latest updates on Container Native CI/CD and DevOps Industry. Join in our favourite communication channels :</p>
                    <div class="communitycard col-sm-3">
                        <a href="https://www.facebook.com/razorops" target="_blank" class="wo-text-decoration"><img src="/images/socials/facebook.png" width="40%" alt="Facebook Group">
                        <p>Facebook</p>
                      </a>
                    </div>
                    <div class="communitycard col-sm-3">
                      <a href="https://t.me/+F3o5iCzYFqeSd54d" target="_blank" class="wo-text-decoration"><img src="/images/socials/telegram.png" width="40%" alt="Telegram Group">
                        <p>Telegram</p>
                      </a>
                    </div>
                    <div class="communitycard col-sm-3">
                      <a href="https://www.linkedin.com/newsletters/container-native-devops-cicd-6920671272087552000/" target="_blank" class="wo-text-decoration"><img src="/images/v2/linkedin.svg" width="40%" alt="Linkdin Newsletter">
                        <p>LinkedIn Newsletters</p>
                      </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://www.instagram.com/razoropscicd/" target="_blank" class="wo-text-decoration"><img src="/images/instagram_logo.webp" width="40%" alt="Instagram Page">
                          <p>Instagram</p>
                        </a>
                      </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://www.linkedin.com/company/razorops" target="_blank" class="wo-text-decoration"><img src="/images/v2/linkedin.svg" width="40%" alt="Linkdin">
                          <p>LinkedIn</p>
                        </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://twitter.com/razorops" target="_blank" class="wo-text-decoration"><img src="/images/v2/twitter.svg" width="40%" alt="Twitter">
                          <p>Twitter</p>
                        </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://github.com/RazorOp" target="_blank" class="wo-text-decoration"><img src="/images/v2/github.svg" width="40%" alt="Github">
                          <p>Github</p>
                        </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://www.youtube.com/channel/UCq-0f5HPIAJ_2Ds6uvwBW4g/videos" target="_blank" class="wo-text-decoration"><img src="/images/v2/youtube.svg" width="40%" alt="Youtube">
                          <p>Youtube</p>
                        </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://discord.gg/rfsHNYDs4j" target="_blank" class="wo-text-decoration"><img src="/images/v2/discord.png" width="40%" alt="Discord">
                          <p>Discord</p>
                        </a>
                    </div>
                    <div class="communitycard col-sm-3">
                        <a href="https://chat.whatsapp.com/GHqlbyWGn778P88UwOovaQ" target="_blank" class="wo-text-decoration"><img src="/images/v2/whatsapp.svg" width="40%" alt="Whatsapp">
                          <p>WhatsApp</p>
                        </a>
                    </div>

                    <div class="communitycard col-sm-3">
                      <a href="https://razorops.quora.com/" target="_blank"><img src="/images/v2/quora-logo.png" alt="quora" title="Quora" width="40%"></a>
                        <p>Quora</p>
                      </a>
                    </div>

                    <div class="communitycard col-sm-3">
                      <a href="https://www.reddit.com/user/razoropscicd/" target="_blank"><img src="/images/v2/reddit-logo.png" alt="Reddit" title="Reddit" width="40%"></a>
                        <p>Reddit</p>
                      </a>
                    </div>

        
                    
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>