<div class="platform-integrations">
  <center><h2>RazorOps Deployment</h2></center>
  <br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <center>
          <img src="/images/v2/migrating.svg" alt="source code management" class="feature-img">
        </center>
        <div class="platform-integration-msg">
        <h3>SaaS Platform</h3>
        <p>We provide secured, managed and highly-available infrastructure for our SaaS Solution.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <center>
          <img src="/images/v2/application.svg" alt="language agnostic" class="feature-img">
        </center>
        <div class="platform-integration-msg">
          <h3>Hybrid Solution</h3>
          <p>Run builds on your infrastructure, and use RazorOps UI on our infrastructure.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <center>
          <img src="/images/v2/private.svg" alt="Platform Independent" class="feature-img">
        </center>
        <div class="platform-integration-msg">
          <h3>On Prem Self-hosted</h3>
          <p>Run the full Razorops stack on your own infrastructure.</p>
        </div>
      </div>

    </div>
  </div>
</div>

