<svg xmlns="https://www.w3.org/2000/svg" class="curve-container__curve curve-one" viewBox="0 0 1440 68" enable-background="new 0 0 1440 68"><path d="m1622.3 1937.7c0 0-410.7 169.1-913.4 75.5-502.7-93.6-977.7 56.3-977.7 56.3v440h1891.1v-571.8" fill="#f3f5f9" transform="translate(0-1977)"></path></svg>

<div class="home-deployment">
  <center><h2 style="font-size: 42px;" class="section-header">Get Razorops as Platform</h2></center>
  <br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <center>
          <img src="/images/v2/migrating.webp" alt="source code management" class="feature-img img-responsive">
        </center>
        <div class="platform-integration-msg">
        <h3>SaaS Platform</h3>
        <p class="lead mb-0">We provide secured, managed and highly-available infrastructure for our SaaS Solution.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <center>
          <img src="/images/v2/application.webp" alt="language agnostic" class="feature-img img-responsive">
        </center>
        <div class="platform-integration-msg">
          <h3>Hybrid Solution</h3>
          <p class="lead mb-0">Run builds on your infrastructure, and use Razorops UI on our infrastructure.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <center>
          <img src="/images/v2/private.webp" alt="Platform Independent" class="feature-img img-responsive">
        </center>
        <div class="platform-integration-msg">
          <h3>On Prem Self-hosted</h3>
          <p class="lead mb-0">Run the full Razorops stack on your own infrastructure.</p>
        </div>
      </div>

    </div>
  </div>
</div>

