<div class="customers-banner mt-10 do-banner-home-pd">
    <img src="/images/v2/razorops-white-logo.png" class="razorops-do-img">
    <span class="razorops-plus-img">+</span>
    <p class="plus-adding">+</p>
    <img src="/images/digitalocean-razorops.png" class="razorops-do-img2">
    <h2 class="do-rointro">Try Razorops CI/CD and get $250 Credits over Digital Ocean</h2>
    <br><br>
    <p>PRETTY CONVINCING, RIGHT?</p>
    <h2>Ready to <b>get started?</b></h2>
    <br><br>
    <a class="btn btn-default btn-lg btn-rounded mr-4" href="/try-razorops-cicd-with-digital-ocean-kubernetes/"> Apply
        Now</a>

    <a href="https://razorops.com/schedule-demo?utm_source=https%3A%2F%2Frazorops.com%2F&utm_medium=CTA-Schedule-Demo&utm_campaign=Razorops-Schedule-Demo"
        class="btn btn-default btn-lg btn-rounded">Schedule a Meeting</a>
</div>