
<div class="container do-strip" style=" padding:30px; ">
   
  <h2 class="section-header2 text-center" style="font-size: 42px;">Try RazorOps with DigitalOcean </h2>
  
  <div class="do-products container">

    <div class="container row">
        <div class="col-sm-5 do-productcard">
              <img>
              <h2>RazorOps with DigitalOcean Droplet</h2>
              <p class="docard-text">DigitalOcean Droplet is a virtual machine, an application server that helps you deploy faster & scale easier. Each Droplet you create is a separate server that you can use on its own or as part of a larger cloud-based infrastructure.</p>
              <p class="signup-description">
                <ul class="list-styles ">
                  <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Free Cloud Firewalls</span></li>
                  <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Scalable block storage</span></li>
                  <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Can access a Droplet without replacing the Droplet’s original public IP address</span></li>
                  <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Maximize speed and capacity utilization using the load balancer</span></li>
                </ul>
              </p>
        </div>
        <div class="col-sm-5 do-productcard">
          <img>
          <h2>Razorops with DigitalOcean Managed Kubernetes </h2>
          <p class="docard-text">DOKS (DigitalOcean Kubernetes Service) is a managed Kubernetes service that allows you to deploy Kubernetes clusters without having to deal with the control plane or containerized infrastructure.</p>
          <p class="signup-description">
            <ul class="list-styles ">
              <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets "> Build optimized container for Kubernetes </span></li>
              <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Configure your load balancer in Kubernetes Clusters</span></li>
              <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Manage services across the varied infrastructure</span></li>
              <li class="tickrow"><span class="ticksign "><img src="/images/done-tick.webp" ></span> <span class="bullets ">Full access to the Kubernetes API</span></li>
             
            </ul>
          </p>
        </div>
  </div>
</div>
        
<div class="text-center do-acntbtn mt-10">
  <a class="docta-btn btn btn-rounded btn-lg " href="/digital-ocean-kubernetes/">Click here to apply</a></div>
</div>

