
<div class="container-fluid do-strip" style=" padding:30px; ">
   
  <h2 class="section-header2 text-center" style="font-size: 42px;">
    Try RazorOps with DigitalOcean Kubernetes <br>
    Get $250 DO credits
  </h2>
  
  <div class="do-products container">
      
        <img src="/images/try-razorops-with-digitalocean-kubernetes.jpeg" width="100%">

</div>
        
<div class="text-center do-acntbtn mt-10">
  <a class="docta-btn btn btn-rounded btn-lg " href="/digital-ocean-kubernetes/">Click here to apply</a></div>
</div>

