
<div class="container-fluid tag-line do-strip" style=" padding:30px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 let-start-cta">
                <h2 style="font-size: 37px;">Try Razorops with Digital Ocean Kubernetes with $300.</h2>
            </div>

            <div class="col-md-4 let-start-cta-btn">
                <a class=" wo-text-decoration btn btn-bghover2" id="myBtn" >Click here to apply</a>

            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modalnew">

    <div class="modal-contentnew">
      <span class="close">&times;</span>
      <h2 class="text-center">Contact Us</h2>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
            hbspt.forms.create({
	        region: "na1",
	        portalId: "6775901",
	        formId: "836920e7-0c95-4f98-9505-4abc75b491cb"
            });
        </script>
    </div>
  
  </div>

  <script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>