<!-- <div class="docs-sidebar-sticky">
  <ul class="docs-nav">
    <li><h4>Getting Started</h4></li>
    <li><a href="#">Setup RazorOps Account</a></li>
    <li><a href="#">Step by step tutorial</a></li>
    <li><h4>Pipelines</h4></li>
    <li><a href="#">Introduction to Pipeline</a></li>
    <li><a href="#">Pipeline configuration using the UI</a></li>
    <li><a href="#">Pipeline triggers</a></li>
    <li><h4>Deployment</h4></li>
    <li><a href="#">Kubernetes Deployment</a></li>
    <li><a href="#">Deploy to GKE</a></li>
    <li><a href="#">Deploy to EKS</a></li>
    <li><a href="#">Deploy to Azure Kubernetes</a></li>
    <li><a href="#">Deploy to DigitalOcean Kubernetes</a></li>
  </ul>
</div> -->

<div class="app__menu">
  <ul class="blog-menu">
    {% assign docs = site.posts | where: "category","docs" %} 
      {% for doc in docs %}
        <li>
          <a href="{{ site.baseurl }}{{ doc.url }}"
            ><b>{{ doc.title }}</b></a
          >
        </li>
      {% endfor %}
  </ul>
</div>
