<!-- <div class="pricing-header faq">
	<div class="pricing-header qaf">
		<h2 style="text-align:center; font-size: 42px;color: white;" class="section-header"><b>Frequently Asked Questions</b></h2>
	</div>
</div>


<main id="faq-panel" style="margin-bottom: 20px;">
	<article class="panel-groups bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
	  <section class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h2 class="panel-title" style="padding: 25px;">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Q: How do I get started?
			  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
			</a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<p style="padding: 18px;">
				Getting started with Razorops is easy, you can have a look quick look on
					<a href="https://docs.razorops.com/getting_started/">Documents</a> and signup for razorops.
					<br>
					<br>
					1. <a href="https://dashboard.razorops.com" target="_blank"><b>Signup</b> </a>Razorops, Create your first Pipeline project<br>
					2. Add <b>.razorops.yaml</b> to your source code root directory <br>
					3. Define your Pipeline <a href="https://docs.razorops.com/config/spec/"> (Click here to Learn)</a><br>
					4. Commit and push your source code<br>
					5. This new commit will trigger your pipeline<br>
					6. Still need help <a href="/schedule-demo" target="_blank"> Schedule a Demo</a><br>
			</p>
		  </div>
		</div>
	  </section>
	  <section class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
		  <h4 class="panel-title" style="padding: 18px;">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  
				Q. Which source code management services are supported?
			  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
			</a>
		  </h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		  <div class="panel-body">
			<p style="padding: 18px;">Razorops supports major code-hosting services like GitHub, Bitbucket and Gitlab
				<img src="/images/razorops-git-integration.png" class="img-responsive" alt="razorops git integration">
			</p>
			<p style="padding: 18px;">You can find Razorops at <a href="https://github.com/apps/razorops-ci-cd" target="_blank">Github marketplace</a> as well.</p>
		  </div>
		</div>
	  </section>
	  <section class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingThree">
		  <h4 class="panel-title" style="padding: 18px;">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Q. How do you handle upgrading or canceling a subscription?
			  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
			</a>
		  </h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		  <div class="panel-body">
			<p style="padding: 18px;">You can change or cancel your subscription at any time from your dashboard.</p>
		  </div>
		</div>
	  </section>

	  <section class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFour">
		  <h4 class="panel-title" style="padding: 18px;">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				Q. Do your have something custom plan?
			  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
			</a>
		  </h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		  <div class="panel-body">
			<p style="padding: 18px;">Most of our customers find Razorops SAAS environment covers their usecases. if you need extra support, hosting preferences or features,<br> our support team will help you.</p>
		  </div>
		</div>
	  </section>

	  <section class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFive">
		  <h4 class="panel-title" style="padding: 18px;">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				Q. I have more question ?
			  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
			</a>
		  </h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<p style="padding: 18px;">Just send us an email at <a href="mailto:support@razorops.com?Subject=Hello" target="_top">support@razorops.com</a>, we'll be more than happy to help.</p>
		  </div>
		</div>
	  </section>
	</article>
  </main> -->
<!-- <div class="pricing-faq-main-div">
	<div class="pricing-faq-inner-div">
		<div>
			<div class="faq-title-div">
				<span class="faq-title">Frequently Asked Questions</span>
			</div>
			<div class="faq-question-div">
				<faq-question-inner-div>

				</faq-question-inner-div>

				<faq-question-inner-div>

				</faq-question-inner-div>

				<faq-question-inner-div>

				</faq-question-inner-div>

				<faq-question-inner-div>

				</faq-question-inner-div>

				<faq-question-inner-div>

				</faq-question-inner-div>

			</div>
		</div>
	</div>
  </div> -->
<div class="MuiGrid-root MuiGrid-container css-b7sn9u">
	<div class="MuiGrid-root MuiGrid-item css-1wxaqej">
		<div>
			<div class="css-3nyhpq">
				<span class="css-lm0qje">Frequently Asked Questions</span>
			</div>
			<div class="MuiBox-root css-1r5rczz">
				<div class="MuiBox-root css-ar4fp9">
					<div class="MuiBox-root css-69i1ev">
						<span class="css-1yqfrxo">Q. How do I get started?</span>
						<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
							tabindex="0" type="button" style="height:50px;width:50px">
							<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
								aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandMoreIcon">
								<path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
							</svg>
							<span class="MuiTouchRipple-root css-w0pj6f"></span>
						</button>
					</div>
					<span style="display: block;" class="css-1o4grz3">Getting started with Razorops is easy, you can
						have
						a look quick look on <a style="text-decoration: underline;"
							href="https://docs.razorops.com/getting_started/"> Documents </a> and signup for
						razorops.<br><br>1. <a style="text-decoration: underline;"
							href="https://dashboard.razorops.com/users/sign_in"> Signup </a> Razorops, Create your first
						Pipeline project<br>2. Add .razorops.yaml to your source code root directory<br>3. Define your
						Pipeline <a style="text-decoration: underline;" href="https://docs.razorops.com/config/spec/">
							(Click here to Learn) </a><br>4. Commit and push your source code<br>5. This new commit will
						trigger your pipeline<br>6. Still need help <a style="text-decoration: underline;"
							href="https://razorops.com/schedule-demo"> Schedule a Demo </a></span>
				</div>
				<div class="MuiBox-root css-ar4fp9">
					<div class="MuiBox-root css-69i1ev">
						<span class="css-1yqfrxo">Q. Which source code management
							services are supported?</span>
						<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
							tabindex="0" type="button" style="height:50px;width:50px">
							<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
								aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandLessIcon">
								<path d="m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"></path>
							</svg><span class="MuiTouchRipple-root css-w0pj6f"></span>
						</button>
					</div>
					<span style="display: none;" class="css-1o4grz3">Razorops supports major code-hosting services like
						GitHub, Bitbucket and Gitlab</span>
				</div>
				<div class="MuiBox-root css-ar4fp9">
					<div class="MuiBox-root css-69i1ev">
						<span class="css-1yqfrxo">Q. How do you handle upgrading or
							canceling a subscription?</span>
						<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
							tabindex="0" type="button" style="height:50px;width:50px">
							<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
								aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandLessIcon">
								<path d="m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"></path>
							</svg>
							<span class="MuiTouchRipple-root css-w0pj6f"></span>
						</button>
					</div>
					<span style="display:none" class="css-1o4grz3">You can change or cancel your subscription at any
						time
						from your dashboard.</span>
				</div>
				<div class="MuiBox-root css-ar4fp9">
					<div class="MuiBox-root css-69i1ev">
						<span class="css-1yqfrxo">Q. Do your have something custom
							plan?</span>
						<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
							tabindex="0" type="button" style="height:50px;width:50px"><svg
								class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
								aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandLessIcon">
								<path d="m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"></path>
							</svg><span class="MuiTouchRipple-root css-w0pj6f"></span>
						</button>
					</div>
					<span style="display:none" class="css-1o4grz3">Most of our customers find Razorops SAAS environment
						covers their usecases. if you need extra support, hosting preferences or features, our support
						team will help you.</span>
				</div>
				<div class="MuiBox-root css-ar4fp9">
					<div class="MuiBox-root css-69i1ev">
						<span class="css-1yqfrxo">Q. I have more questions
							?</span>
						<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
							tabindex="0" type="button" style="height:50px;width:50px">
							<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
								aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandLessIcon">
								<path d="m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"></path>
							</svg><span class="MuiTouchRipple-root css-w0pj6f"></span>
						</button>
					</div>
					<span style="display:none" class="css-1o4grz3">Most of our customers find Razorops SAAS environment
						covers their usecases. if you need extra support, hosting preferences or features, our support
						team will help you.</span>
				</div>
			</div>
		</div>
	</div>
</div>