<div class="pricing-header">
	<div class="pricing-header">
		<h2 style="text-align:center;"><b>Frequently Asked Questions</b></h2>
	</div>
</div>


<div class="panel-group" id="faqAccordion">

	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question2">Q: How do I get started?</a>
			</h4>
		</div>

		<div id="question2" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p>
					Getting Stared with Razorops is easy, you can have a look quick look on
					<a href="https://docs.razorops.com/introduction/getting-started.html">Documents</a> and signup for razorops.
					<ol>
						<li><a href="https://dashboard.razorops.com" target="_blank"><b>Signup</b> </a>Razorops</li>
						<li>Create Pipeline</li>
						<li>Add .razorops.yaml to your source code root dir</li>
						<li>Define your Pipeline <a href="https://docs.razorops.com/configuration/concepts.html#pipeline"> (Click here to Learn Pipeline)</a></li>
						<li>Commit and push your source code</li>
						<li>This new commit will trigger your pipeline</li>
					</ol>
				</p>
				<img src="/images/pipeline-dashboard.png" class="img-responsive" alt="razorops pipeline dashboard">
			</div>
		</div>
	</div>


	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question1">Q:
				 Which source code management services are supported?
				</a>
			</h4>
		</div>
		
		<div id="question1" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p>Razorops supports major code-hosting services like GitHub, Bitbucket and Gitlab
					<img src="/images/razorops-git-integration.png" class="img-responsive" alt="razorops git integration">
				</p>
				<p>
					<b>You can find Razorops at <a href="https://github.com/apps/razorops-ci-cd" target="_blank">Github marketplace</a> as well.
				</p>
				<a href="https://github.com/apps/razorops-ci-cd" target="_blank"> <img src="/images/razorops-github-marketplace.png" class="img-responsive" alt="razorops github marketplace"></a>
					
			</div>
		</div>
	</div>

	



	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question3">Q:
					How do you handle upgrading or canceling a subscription?</a>
			</h4>
		</div>

		<div id="question3" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p>You can change or cancel your subscription at any time from your dashboard. </p>
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question4">Q:
					Do your have something custom plan?</a>
			</h4>
		</div>

		<div id="question4" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p>Most of our customers find Razorops SAAS environment covers their usecases. if you need extra support, hosting preferences or features,<br> our support team will help you.</p>
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question5">Q: I have more question ?</a>
			</h4>
		</div>

		<div id="question5" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p>Just send us an email at support@razorops.com, we'll be more than happy to help.</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

</div>
<!--/panel-group-->