
  <style>
    .feature-section-home {
      min-height: 600px !important;
      vertical-align: middle !important;
    }

    .feature-section-home h2 {
      font-size: 45px;
      color: #18204C;
      margin-top: 80px;
    }

    .feature-section-home img{
      text-align: right;
    }

    .feature-section-home p {
      font-family: Montserrat;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      line-height: 40px;
      color: #7C819B;
      white-space: pre-wrap;
    }

    .mt-80{
      margin-top: 160px !important;
    }

    @media (max-width: 767px) {
      .feature-section-home {
        padding: 0px;
        margin-left: 10px;
        margin-top: -90px;
      }

      .feature-section-home h2 {
        font-size: 40px;
        color: #18204C;
        /* margin-top: 130px; */
      }

      .feature-section-home img{
        width: 80%;
        text-align: center;
      }

      .feature-section-home p {
        font-family: Montserrat;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 30px;
        color: #7C819B;
        white-space: pre-wrap;
      }
    }
  </style>

  <div class="container feature-section-home">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-80">Fastest Continuous Integration Platform</h2>
        <p>Fastest Continuous Integration ensures rapid code integration and testing, enabling developers to detect and fix issues quickly, thus accelerating the development cycle.</p>
      </div>
      <div class="col-md-6">
        <img src="/images/home/fastest-CICD.gif" alt="Continuous Integration" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="container feature-section-home bg-light">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="/images/home/continuous-deployment-with-ArgoCD.webp" alt="Continuous Deployment" class="img-responsive">
      </div>
      <div class="col-md-6 order-md-1">
        <h2>Continuous Deployment with ArgoCD</h2>
        <p>Continuous Deployment with ArgoCD automates app delivery, instantly deploying every change to production post-tests, ensuring a streamlined and efficient workflow.</p>
      </div>
    </div>
  </div>

  <div class="container feature-section-home">
    <div class="row">
      <div class="col-md-6">
        <h2>Security Conscious CICD pipeline</h2>
        <p>A security-conscious CI/CD pipeline integrates security checks at every stage, ensuring code integrity, vulnerability scanning, and compliance for safe and reliable software delivery.</p>
        <a href="/security-conscious-CICD-pipeline.html" class="btn btn-primary">Get Secure CICD</a>
      </div>
      <div class="col-md-6">
        <img src="/images/home/security-conscious-ci-cd-pipeline.webp" alt="dedicated application security pipeline" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- <div class="container feature-section-home bg-light">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <h2>Scalable Infrastructure</h2>
        <p>Scale your CI/CD pipelines effortlessly to handle large and complex projects.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="https://via.placeholder.com/500x300" alt="Scalable Infrastructure">
      </div>
    </div>
  </div> -->

  