<div class="section-header"><h2>Top Features</h2></div>
<div class="features mt-80 mb-80" id="features">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-item">
					<div class="feature-item-msg">
						<h4>Container Native</h4>
						<p>Get fast, isolated and consistent build environment on each code change plus integrations with the
							leading container orchestrators and registries. Use full power of <a href="https://docs.docker.com/engine/reference/commandline/cli/">Docker CLI</a> in your jobs to build and push.</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
					<div class="feature-item-msg">
						<h4>Connect Environments</h4>
						<p>Create new <a href="https://kubernetes.io" target="_blank">Kubernetes</a> clusters on any server or cloud no matter where they
							run. Integrate and promote builds across multiple environments according to your needs (development, staging and more).</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h4>Deployment Pipeline</h4>
							<p>Manage your entire pipeline visually or put inside your codebase. No scripts, delays and downtime.</p>
						</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h4>Automatic rollback</h4>
							<p>We analyze data from monitoring tools and uses automated testing tools to look for anomalies and failures to rollback broken within seconds.</p>
						</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h4>Incorporate Gitops</h4>
							<p>Align your pipelines with the branch structure, making it easier to work with branching workflows like feature branching or git-flow.</p>
						</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h4>Code as configuration</h4>
							<p>Store and manage your configurations in a single
								<a href="https://docs.razorops.com/configuration/reference.html" target="_blank">razorops.yml</a> file.
								Only few lines of code to get you started.</p>
						</div>
				</div>
			</div>

		</div>
	</div>
</div>