<div class="features" id="features">

	<div class="section-header">
		<h2>Features</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/deployment-pipeline.svg" alt="deployment pipeline"></figure>
						<div class="feature-item-msg">
							<h4>Deployment Pipeline</h4>
							<p>Manage your entire pipeline visually or put inside your codebase. No scripts, delays and downtime.</p>
						</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/connect-environment.svg" alt="connect environment"></figure>
						<div class="feature-item-msg">
							<h4>Connect Environments</h4>
							<p>Create new clusters on any server or cloud or easily connect your existing clusters no matter where they run. Integrate and provision multiple environments according to your needs.</p>
						</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/hosted.svg" alt="hosted services"></figure>
						<div class="feature-item-msg">
							<h4>Hosted Helm and docker Registries</h4>
							<p>Use our built-in registry and Helm Repos, or connect your own.</p>
						</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/automatic-rollback.svg" alt="automatic rollback"></figure>
						<div class="feature-item-msg">
							<h4>Automatic rollback</h4>
							<p>We analyze data from monitoring tools and uses automated testing tools to look for anomalies and failures to rollback broken within seconds.</p>
						</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/git-logo.svg" alt="ncorporate Gitops"></figure>
						<div class="feature-item-msg">
							<h4>Incorporate Gitops</h4>
							<p>Align your pipelines with the branch structure, making it easier to work with branching workflows like feature branching or git-flow.</p>
						</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-item">
					<figure><img src="images/razorops-assets/code-configuration.svg" alt="code configuration"></figure>
						<div class="feature-item-msg">
							<h4>Code as configuration</h4>
							<p>Store and manage your configurations in a single pipelines.yml file. Only few lines of code to get you started.</p>
						</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="mt-80"></div>
