<br><br>
<div class="customers-banner mt-10 do-banner-home-pd">
  <img src="/images/v2/razorops-white-logo.png" class="razorops-do-img"> 
  <img src="/images/digitalocean-razorops.png" > 
  <h2 class="do-rointro">Try Razorops CI/CD and get $250 Credits over DigitalOcean Kubernetes</h2>
  <br><br>
  <p>PRETTY CONVINCING, RIGHT?</p>
  <h2>Ready to <b>get started?</b></h2>
  <br><br>
  <a href="https://dashboard.razorops.com/users/sign_up" class="btn btn-default btn-lg btn-rounded mr-4"><b>Signup for FREE</b></a>
	<a href="/schedule-demo" class="btn btn-default btn-lg btn-rounded  mr-4"><b>Schedule a Demo</b></a>
  <a class="btn btn-default btn-lg btn-rounded" href="/try-razorops-cicd-with-digital-ocean-kubernetes/" > Apply Now</a>
</div>

<!-- <div class="demo-call-to-action">
  <p>PRETTY CONVINCING, RIGHT?</p>
  <h2>Ready to <b>get started?</b></h2>
  <div class="banner-actions">
		<a href="https://dashboard.razorops.com/users/sign_up" class="btn btn-default btn-lg btn-rounded mr-4"><b>Signup for FREE</b></a>
		<a href="/schedule-demo" class="btn btn-default btn-lg btn-rounded"><b>Schedule a Demo</b></a>
	</div>
</div> -->