<!-- Footer -->
<div class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__data">
        <div class="footer__data__item">
          <div class="footer__row">
            <h2 class="cta__title">RazorOps</h2>
            5th Floor, Catalyst Building, THub <br>
            IIIT Hyderabad Campus,<br>
            Gachibowli, Hyderabad, Telangana, 500032<br>
              contact@razorops.com<br>
          </div>
        </div>

        <div class="footer__data__item">
          <h2 class="cta__title">Company</h2>
          <div class="footer__row">About Us</div>
          <div class="footer__row"><a href="/contact.html">Contact Us</a></div>
          <div class="footer__row"><a href="/blog.html">Blog</a></div>
          <div class="footer__row"><a href="/careers.html">We are Hiring!</a></div>
          <div class="footer__row"><a href="/terms-of-service.html">Terms of Service</a></div>
        </div>

        <div class="footer__data__item">
          <h2 class="cta__title">Product</h2>
          <div class="footer__row"><a href="/docs.html">Documentation</a></div>
          <div class="footer__row">Continuous Delivery for Kubernetes</div>
          <div class="footer__row">Kubernetes Deployment</div>
          <div class="footer__row"><a href="/index.html#features">Features</a></div>
          <div class="footer__row"><a href="/pricing.html">Pricing</a></div>
          <div class="footer__row"><a href="/schedule-demo.html">Schedule Demo</a></div>
        </div>

        <div class="footer__data__item">
          <h2 class="cta__title">Social</h2>
          <div class="footer__row">
            <a href="https://github.com/RazorOp" target="_blank" class="footer__link">GitHub</a>
          </div>
          <div class="footer__row">
            <a href="https://twitter.com/razorops" target="_blank" class="footer__link">Twitter</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<script src='js/app.min.js'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121645139-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-121645139-1');
</script>

<script id="_agile_min_js" async type="text/javascript" src="https://razorops.agilecrm.com/stats/min/agile-min.js"> </script>
<script type="text/javascript" >
var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
_agile.set_account('4iduuh82l0hggiae1c1bj47ddd', 'razorops', false);
_agile.track_page_view();
_agile_execute_web_rules();};
</script>

