<!-- Footer -->
<div class="footer footer--dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-item">
        <div class="address-wraper">
          <h2 class="cta__title">Razorops</h2>
          3975 Freedom Cir, <br>
          Suite 800,Santa Clara, <br>
          California, United States 95054
          <br>
          Email: support@razorops.com
          <br>
          Phone: +1 &nbsp;&nbsp;916-970-0179 (US)<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 868-846-8400 (INDIA)
        </div>
        </div>
        <div class="col-md-3 footer-item">
          <h2 class="cta__title">Company</h2>
          <ul class="footer-nav">
            <li><a href="/about" title="About" >About Us</a></li>
            <li><a href="/contact" title="Conatct">Contact Us</a></li>
            <!-- <li><a href="/blog.html">Blog</a></li> -->
            <li><a href="/careers">We are Hiring!</a></li>

          </ul>
        </div>

        <div class="col-md-3 footer-item">
          <h2 class="cta__title">Product</h2>
          <ul class="footer-nav">
            <li><a href="/index.html#features">Features</a></li>
            <li><a href="/kubernetes">Kubernetes</a></li>
            <li><a href="https://docs.razorops.com/" target="_blank">Docs</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/schedule-demo" title="Schedule Demo" >Schedule Demo</a></li>
          </ul>
        </div>

        <div class="col-md-3 footer-item">
          <h2 class="cta__title">Social</h2>
          <ul class="footer-nav">
            <li><a href="https://www.linkedin.com/company/razorops" target="_blank" class="footer__link">LinkedIn</a></li>
            <li><a href="https://github.com/RazorOp" target="_blank" class="footer__link">GitHub</a></li>
            <li><a href="https://twitter.com/razorops" target="_blank" class="footer__link">Twitter</a></li>
            <li><a href=" https://www.facebook.com/razorops" target="_blank" class="footer__link">Facebook</a></li>

          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="lower-footer">
      <p> Copyright &copy; <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script> Razorops, All Rights Reserved. 
        &nbsp;   &nbsp;
        <a href="/terms-of-service">Terms of Service</a>
           &nbsp;   &nbsp; 
        <a href="/privacy-policy">Privacy Policy</a>
      </p> 
    </div>
    

  </div>

  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src='{{ site.baseurl }}/js/app.js'></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121645139-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-121645139-1');
  </script>

  <script id="_agile_min_js" async type="text/javascript" src="https://razorops.agilecrm.com/stats/min/agile-min.js"> </script>
  <script type="text/javascript">
    var Agile_API = Agile_API || {};
    Agile_API.on_after_load = function() {
      _agile.set_account('4iduuh82l0hggiae1c1bj47ddd', 'razorops', false);
      _agile.track_page_view();
      _agile_execute_web_rules();
    };
  </script>


  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    ! function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void(window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function(e) {
            return function() {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
          }), t.load = function(t) {
            var e = 3e5,
              n = Math.ceil(new Date() / e) * e,
              o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('efhe88k65wzb');
  </script>
  <!-- End of Async Drift Code -->


  <!-- Hotjar Tracking Code for https://razorops.com/ -->
  <!-- <script>
    (function(h, o, t, j, a, r) {
      h.hj = h.hj || function() {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 1016777,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
 -->
