<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>PRODUCT</h5>
        <ul>
          <li><a href="/product">Overview</a></li>
          <li><a href="/product#how-it-works">How It Works</a></li>
          <li><a href="/product#features">Features</a></li>
          <li><a href="/product#integrations">Integrations</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/schedule-demo">Schedule Demo</a></li>
        </ul>
      </div>


      <div class="col-sm-3">
        <h5>COMPANY</h5>
        <ul>
          <li><a href="/about" title="About">About Us</a></li>
          <li><a href="/contact" title="Conatct">Contact Us</a></li>
          <li><a href="/customers">Customers</a></li>
          <li><a href="/open-source">Open Source</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/referral">Refer and Earn</a></li>
          <li><a href="/cicd-offers">CICD Offers</a></li>
          <li><a href="/jobs">We are Hiring!</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>RESOURCES</h5>
        <ul>
          <li>
            <a href="https://docs.razorops.com/getting_started/" target="_blank">Getting Started</a>
          </li>
          <li>
            <a href="/jenkins-alternative/">Migrate From Jenkins To RazorOps</a>
          </li>
          <li><a href="/customers">Case Studies</a></li>
          <li><a href="/webinars">Webinars</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li>
          <li><a href="/newsletter" title="Newsletter">Newsletter</a></li>
          <li><a href="/write-for-us">Write for us</a></li>
          <li><a href="https://razorops.freshdesk.com/support/solutions/89000064241">How to Guides</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>SUPPORT</h5>
        <ul>
          <li>
            <a href="https://razorops.freshdesk.com/" target="_blank">Go to Support Portal</a>
          </li>
          <li><a href="/community/">Community</a></li>
          <li><a href="/faq" title="FAQ">FAQ</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/security">Security</a></li>
          <li>
            <a href="https://razorops.statuspage.io/" target="_blank">Status Page</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row bottom-bar">
    <div class="col-sm-12">
      <p>Copyright &copy; <span id="year"></span> Razorops, Inc. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/company/razorops" target="_blank"><img src="/images/v2/linkedin.svg"
        alt="Linkedin" title="Linkedin" width="25" height="25" /></a>&nbsp;&nbsp;
        <a href="https://twitter.com/razorops" target="_blank"><img src="/images/v2/twitter.svg" alt="Twitter"
        title="Twitter" width="25" height="25" /></a>&nbsp;&nbsp;
        <a href=" https://www.facebook.com/razorops" target="_blank" class="mobile-hide"><img src="/images/v2/facebook.svg" alt="Facebook"
        title="Facebook" width="25" height="25" /></a>&nbsp;&nbsp;
        <a href="https://www.youtube.com/channel/UCq-0f5HPIAJ_2Ds6uvwBW4g/videos" target="_blank"><img
        src="/images/v2/youtube.svg" alt="youtube" title="Youtube" width="25" height="25" /></a>&nbsp;&nbsp;
        <a href="https://t.me/+F3o5iCzYFqeSd54d" target="_blank"><img src="/images/v2/telegram.png" alt="telegram"
        title="Telegram" width="25" height="25" /></a>&nbsp;&nbsp;
        <a href="https://razorops.quora.com/" target="_blank" class="mobile-hide"><img src="/images/v2/quora-logo.png" alt="quora"
        title="Quora" width="28" height="28" /></a>&nbsp;&nbsp;
        <a href="https://www.instagram.com/razoropscicd/" target="_blank"><img src="/images/instagram_logo.webp"
        alt="Instagram" title="instagram" width="24" height="24" /></a>&nbsp;&nbsp;
        <a href="https://chat.whatsapp.com/GHqlbyWGn778P88UwOovaQ" target="_blank"><img src="/images/v2/whatsapp.svg"
        title="whatsapp" alt="Whatsapp" width="25" height="25" /></a>
      </p>
    </div>
  </div>



</footer>






<script type="text/javascript">
$(document).ready(function () {
$("#year").html(new Date().getFullYear());
});
</script>


{% include third-party-js.html %}


<!---------------CTA--------------->

<!-- 
<script>
  function showModalOnce() {
    $('#azureModal').modal('show');
  }
  setTimeout(showModalOnce, 5000);
</script> -->

<script>
  function showModalOnce() {
    var lastShown = localStorage.getItem('azureModal');
    if (!lastShown || (Date.now() - parseInt(lastShown)) > (14 * 60 * 60 * 1000)) {
    $('#azureModal').modal('show');
    localStorage.setItem('azureModal', Date.now());
    }
  }
  setTimeout(showModalOnce, 7000);
</script>

<!-- Modal -->
<div class="modal fade" id="azureModal" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <div class="center">
          <a href="https://www.youtube.com/watch?v=SCa50IKwhV8"  target="_blank">
            <img
              src="images/home/razorops-demo.webp"
              alt="razorops deployment pipeline"
              title="razorops deployment pipeline"
              class="thumnail-image img-responsive"
            />
          </a>
        </div>

        <center>
          <h1>Discover RazorOps, the most powerful and modern CI/CD. <br><br>
            Enjoy it FREE forever!</h1>
            <br>
            <a href="https://docs.razorops.com/" target="_blank" class="btn-animated btn full-rounded">Documentation</a>
            <a href="https://dashboard.razorops.com/users/sign_up/?utm_source=banner" target="_blank" class="btn-animated btn full-rounded">SIGNUP
            <!-- <img src="/images/home/razorops-signup-popup.webp" alt="razorps login" width="100%"> -->
          </a>
          <br><br>
        </center>
      </div>
    </div>
  </div>
</div>



<style>
  .footer {
  background: #011337;
  color: white;
  font-size: 14px;
  padding-top: 40px;
  }
  .footer h5 {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  }
  .footer p,
  .footer a {
  color: #cccccc;
  }
  .footer a {
  text-decoration: none;
  }
  .footer a:hover {
  text-decoration: underline;
  color: #ffffff;
  }
  .footer ul {
  list-style: none;
  padding: 0;
  }
  .footer ul li {
  margin-bottom: 10px;
  }
  .footer .bottom-bar {
  text-align: center;
  background-color: #031b4e;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  @media (max-width: 768px) {
  .footer h5 {
    margin-top: 20px;
  }
  }
</style>