<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"
        ><img
          src="{{ site.baseurl }}/images/razorops-assets/razorops-white-logo.png"
          height="35"
          alt="razorops"
      /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown nav-dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Product
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/product">Overview</a></li>
            <li><a href="/product#how-it-works">How It works</a></li>
            <li><a href="/product#features">Features</a></li>
            <li><a href="/kubernetes">Kubernetes GitOps</a></li>
            <!-- <li><a href="/architecture">Architecture</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="/schedule-demo">Schedule a demo</a></li>
          </ul>
        </li>

        <!-- <li><a href="/kubernetes">Kubernetes</a></li> -->
        <li><a href="/customers">Customers</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="https://docs.razorops.com/" target="_blank">Docs</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
        <li>
          <a href="/schedule-demo" class="btn btn-success">Get Early Access</a>
        </li>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
</nav>
