<nav class="navbar navbar-default">
  <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{site.baseurl}}/images/datacol-new-logo.png" alt="" height="50" />
     </a> -->
     <a href="/" class="navbar-brand">Datacol</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#how-works" class="scroll-nav">How it works</a></li>
        <li><a href="#features" class="scroll-nav">Features</a></li>
        <li class="freetrail-btn"><a href="#contact-modal" data-toggle="modal">Contact</a></li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>