<!-- -------------------all case studies------------------ -->
<section class="section2 res-case-study">
  <div class="container pt-5">
    <div class="blog-section">
      <div class="row">
        <div class="col-sm-4 art-card">
          <a href="/case-studies/maxamtech" class="text-decoration-none">
            <div
              class="card-border_lightblue d-flex flex-column"
              style="padding-top: 30px"
            >
              <img
                src="/images/case-study-assets/maxamtech.png"
                alt="QuikREasy"
                class="card-image"
              />

              <div
                class="flex-grow-1 d-flex flex-column justify-content-between"
              >
                <div>
                  <h3 class="text-dark font-20 mt-4 mb-3">
                    CI/CD Case Study for Maxamtech Digital Ventures
                  </h3>
                  <p class="text-light-primary">
                    Maxamtech Digital Ventures specializes in helping both
                    online and offline gaming businesses acquire new users and
                    maximize engagement, retention, and monetization...
                  </p>
                  <br />
                  <b style="color: blue">Read full case study > </b>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-4 art-card">
          <a href="/case-studies/applozic" class="text-decoration-none">
            <div
              class="card-border_lightblue d-flex flex-column"
              style="padding-top: 30px"
            >
              <img
                src="/images/case-study-assets/applozicbrandLogo.svg"
                alt="QuikREasy"
                class="card-image"
              />

              <div
                class="flex-grow-1 d-flex flex-column justify-content-between"
              >
                <div>
                  <h3 class="text-dark font-20 mt-4 mb-3">
                    Applozic uses Razorops to focus on fast delivery without any
                    compromises
                  </h3>
                  <p class="text-light-primary">
                    Applozic is a Real-Time Chat and Messaging API for
                    Developers which makes communication easy from both the
                    web...
                  </p>
                  <br />
                  <b style="color: blue">Read full case study > </b>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-4 art-card">
          <a href="/case-studies/72pi" class="text-decoration-none">
            <div
              class="card-border_lightblue d-flex flex-column"
              style="padding-top: 30px"
            >
              <img
                src="/images/case-study-assets/72pi.png"
                alt="QuikREasy"
                class="card-image2"
              />

              <div
                class="flex-grow-1 d-flex flex-column justify-content-between"
              >
                <div>
                  <h3 class="text-dark font-20 mt-4 mb-3">
                    CI/CD Case Study for FinTech Startup
                  </h3>
                  <p class="text-light-primary">
                    72pi is an all in one platform that enables you to compare
                    and adjust your portfolios based on various parameters and
                    complement your investment process...
                  </p>
                  <br />
                  <b style="color: blue">Read full case study > </b>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="exp-btn">
    <a class="m-5 btn btn-lg linkdin-blue full-rounded p-10" href="/customers">
      Explore More Customers</a
    >
  </div>
</section>
