<div class="client-images">

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/kubernetes.png" alt="kubernetes" >
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/docker.png" alt="docker" >
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/google-cloud.png" alt="google-cloud">
	</div>
	
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/aws.png" alt="AWS" >
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/azure.png" alt="azure" >
	</div>
	
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/digitalocean.png" alt="digitalocean">
	</div>
	

	<div class="clearfix"></div>
	
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/git.png" alt="git" >
	</div>

	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/github.png" alt="github">
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/bitbucket.png" alt="bitbucket">
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/gitlab.png" alt="gitlab" >
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/email.png" alt="email" >
	</div>
	<div class="col-sm-2 col-xs-6">
		<img src="/images/clients/slack.png" alt="slack" >
	</div>
	<div class="clearfix"></div>
	
</div>
