<div class="clearfix"></div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/aws.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/google-cloud.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
	<img src="/images/partners/azure.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/digitalocean.png" alt="Auzmor">
	</div>
</div>


<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/git.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/gitlab.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
	<img src="/images/partners/bitbucket.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/github.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/docker.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/kubernets.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
	<img src="/images/partners/mail.png" alt="Auzmor">
	</div>
</div>

<div class="col-sm-3">
	<div class="partners-card">
		<img src="/images/partners/slack.png" alt="Auzmor">
	</div>
</div>

