<div class="section-header">
    <h2>CICD Leader Matrix</h2>
</div>
<div class="container img-align mt-60">
    <div class="col-sm-6">
        <a href="https://www.g2.com/products/razorops/details" target="_blank">
            <img src="./images/g2-crowd-razorops.png" alt="g2 crowd" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-6">
        <a href="https://www.softwaresuggest.com/continuous-integration-tools#leader_matrix" target="_blank">
            <img src="/images/leader-matrix-continuous-integration.png" alt="leader matrix" class="img-responsive" />
        </a>
    </div>
</div>