    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="pricingTable">
          <svg x="0" y="0" viewBox="0 0 360 220">
          <g>
            <path fill="#6822bf" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                  c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                  s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                  L0.732,193.75z"></path>
          </g>
          <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="70.4489">$0</text>
            <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
        </svg>
          <div class="pricing-content">
            <h3 class="title">Free</h3>
            <ul class="pricing-content">
              <li>120 Builds/month</li>
              <li>1 Concurrent  Build</li>
              <li>1 Parallel Test Pipeline</li>
              <li>1 Users</li>
              <li>Unlimited Projects</li>
            </ul>
            <!-- <a href="#" class="pricingTable-signup">Subscribe Now</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="pricingTable green">
          <svg x="0" y="0" viewBox="0 0 360 220">
          <g>
            <path fill="#57bc80" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                  c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                  s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                  L0.732,193.75z"></path>
          </g>
          <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="70.4489">$99</text>
          <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
        </svg>
          <div class="pricing-content">
            <h3 class="title">Growth</h3>
            <ul class="pricing-content">
              <li>699 Builds/month</li>
              <li>2 Concurrent Build</li>
              <li>2 Parallel Test Pipeline</li>
              <li>10 Users</li>
              <li>Unlimited Projects</li>
            </ul>
            <!-- <a href="#" class="pricingTable-signup">Subscribe Now</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="pricingTable blue">
          <svg x="0" y="0" viewBox="0 0 360 220">
          <g>
            <path fill="#2b49b2" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                L0.732,193.75z"></path>
          </g>
          <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="70.4489">$449</text>
          <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
        </svg>
          <div class="pricing-content">
            <h3 class="title">Premium</h3>
            <ul class="pricing-content">
              <li>Unlimited Builds/month</li>
              <li>5 Concurrent Build</li>
              <li>5 Parallel Test Pipeline</li>
              <li>Unlimited Users</li>
              <li>Unlimited Projects</li>
            </ul>
            <!-- <a href="#" class="pricingTable-signup">Subscribe Now</a> -->
          </div>
        </div>
      </div>
    </div>
