<div class="features" id="features">

	<div class="section-header">
		<h2>Features</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h3>Pipeline as code</h3>
							<p>Manage your entire pipeline inside your code base with YAML.</p>
							<ul>
								<li>Docker & kubernetes support</li>
								<li>Multi layer Docker caching for faster builds</li>
								<li>Parallel work flow support</li>
								<li>Store and manage your configurations in a single razorops.yml file</li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-img">
							<img src="/images/v2/white-pipeline-as-code.png" alt="pipeline as code" class="img-responsive">
						</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<br><br><br><br>

			<div class="col-md-6">
				<div class="feature-item">
					<div class="feature-item-img">
						<img src="images/v2/secret-managment.png" alt="hosted services" class="img-responsive pull-right">
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h3>Secret Management</h3>
							<p>We analyze data from monitoring tools and uses automated testing tools to look for anomalies and failures to rollback broken within seconds.</p>
						</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<br><br><br><br>
			
			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-msg">
							<h3>Kubernerts Deployment</h3>
							<p>Manage your entire pipeline inside your code base with YAML.</p>
							<ul>
								<li>Docker & kubernetes support</li>
								<li>Multi layer Docker caching for faster builds</li>
								<li>Parallel work flow support</li>
								<li>Store and manage your configurations in a single razorops.yml file</li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-item">
						<div class="feature-item-img">
							<img src="/images/v2/deployment-board.png" alt="pipeline as code" class="img-responsive">
						</div>
				</div>
			</div>

			<div class="clearfix"></div>
<br><br><br><br><br><br>

		</div>
	</div>
</div>
