<div class="container container-center">
  <div class="blog-wraper2">
    <div class="blog-post">
      {% assign newsletter = site.newsletter | reverse %} {% for post in
      newsletter limit:3 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="col-sm-4 post-box">
          <div class="blog-content">
            <img src="{{ post.image }}" />
            <div class="blog-body">
              <!-- <time class="pull-right">{{ post.date | date_to_string }}</time> -->
              <h1>{{ post.title }}</h1>
              <p class="blogs-description">{{ post.description}}</p>
              <br />
              <a href="{{ site.baseurl }}{{ post.url }}" class="blog-read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="mt-5">
    <span class="m-5 d-inline-block">
      <a
        href="https://www.linkedin.com/newsletters/container-native-devops-cicd-6920671272087552000/"
        class="btn btn-lg color-white linkdin-blue btn-linkedin full-rounded p-10"
        target="_blank"
        ><img
          src="/images/v2/linkedin.svg"
          alt="Linkedin Newsletter"
          title="Linkedin Newsletter"
          width="26"
          height="26"
        />&nbsp;Subscribe Our Newsletter</a
      >
    </span>
    <a class="m-5 btn btn-lg linkdin-blue full-rounded p-10" href="/newsletter">
      Explore More</a
    >
  </div>
</div>
<div class="mb-10"></div>
