<div class="banner-clients bg-white">
			<div class="container">
			  <h2 class="section-header2" style="font-size: 42px;">Check out some of our partners</h2>
		<div class="clearfix"></div>
		<div class="slider">
			<div class="slide-track">
			<div class="slide2">
				<img src="/images/partners/kubeify.png" alt="kubeify" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/azure.png" alt="azure" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/digitalocean.png" alt="digitalocean">
			</div>

			<div class="slide2">
				<img src="/images/partners/civo.png" alt="civo">
			</div>

			<div class="slide2">
				<img src="/images/partners/nxtgen(1).png" alt="nxtgen">
			</div>

            <div class="slide2">
				<img src="/images/partners/kubeify.png" alt="kubeify" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/azure.png" alt="azure" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/digitalocean.png" alt="digitalocean">
			</div>

			<div class="slide2">
				<img src="/images/partners/civo.png" alt="civo">
			</div>

			<div class="slide2">
				<img src="/images/partners/nxtgen(1).png" alt="nxtgen">
			</div>

            <div class="slide2">
				<img src="/images/partners/kubeify.png" alt="kubeify" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/azure.png" alt="azure" >
			</div>
		
			<div class="slide2">
				<img src="/images/partners/digitalocean.png" alt="digitalocean">
			</div>

			<div class="slide2">
				<img src="/images/partners/civo.png" alt="civo">
			</div>

			<div class="slide2">
				<img src="/images/partners/nxtgen(1).png" alt="nxtgen">
			</div>
		
			
		</div>
		</div>
		
		</div>
		</div>