<div class="sticky-image">
	<div class="sticky-content">
		<img src="/images/close-button2.png" width="30px" class="new-close-image" id="close" alt="close button">
		<img src="/images/cicd-pipeline.jpg" width="100%" alt="cicd pipeline">
		<h3 class="popup-margin">Checkout our upcoming event</h3>
		<p class="event-desc popup-margin"><b>
			Topic - Webinar on CI/CD Adoption
			Time: 26th Mar 2022 at 11:30 A.M - 12:30 P.M
		</b></p>
		<p class="seat-book-btn popup-margin"><a href="/webinars/discussion-about-cicd-adoption/" class="wo-text-decoration btn">Book Your Seat !!</a></p>

	</div>
</div>
<script>
	
		
	
		window.onload = () => {
  document.getElementById('close').onclick = function() {
    this.parentNode.remove()
    return false;
  };
};
		
</script>