<div class="mt-80 mb-80">
  <section class="pricing" id="option1" >
    <div class="row">

      <div class="col-lg-3">
        <div class="card mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">BASIC</h5>
            <h6 class="card-price text-center">FREE</span></h6>
            <p class="discount10-yearly">FOREVER</p>
            <hr>
            <ul>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 vCPU @ 3.4GHz, 1GB RAM</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Builds, Users, Pipelines </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
          </div>
        </div>
      </div>

      <!-- Plus Tier -->
      <div class="col-lg-3 mb-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">GROWTH</h5>
            <h6 class="card-price text-center">$49<span class="period">/MONTH</span></h6>
            <p class="discount10-yearly">$499/year</p>
            <hr>
            <ul>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>2 vCPU @ 3.4GHz, 4GB RAM</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Builds, Users, Pipelines </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Docker Layer Caching</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
          </div>
        </div>
      </div>

      <!-- Pro Tier -->
      <div class="col-lg-3 mb-5">
        <div class="card top-plan">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$199<span class="period">/MONTH</span></h6>
            <p class="discount10-yearly">$1999/year</p>
            <hr>
            <ul>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>4 vCPU @ 3.4GHz, 8GB RAM</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Includes all GROWTH features </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Kubernetes GitOps</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Helm, Jsonnet, and Kustomize support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Artifactory and Reports support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone support</li>
            </ul>
            <br>
            <br>
            <br>
            <br>




            <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
          </div>
        </div>
      </div>

      <!-- Enterprise -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Enterprise</h5>
            <h6 class="card-price text-center">Start POC</h6>
            <p class="discount10-yearly">contact us</p>
            <hr>
            <ul>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Includes all PRO features</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited data retention</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>20 concurrent builds and steps</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Behind the firewall support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Hybrid - Run builds on your infrastructure, and the Razorops UI on our infrastructure.</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>On-premise - Run the full Razorops stack on your own infrastructure.</li>
            </ul>
            <br>
            <a href="/contact" class="btn btn-block btn-primary text-uppercase">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>



