<div class="toggle-pricing">
<center>
  <div class="custom-checkbox">
    <input id="status" type="checkbox" name="status">
  <label for="status">
    <div class="status-switch" data-unchecked="Monthly" data-checked="Yearly"></div>
  </label>
</div>
</center>
<div class="yearly-list">
  <div class="mt-80 mb-80">
    <List class="pricing" id="option1" >
      <div class="row">
        <div class="col-lg-3">
          <div class="card mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">BASIC</h5>
              <h6 class="card-price text-center">FREE</span></h6>
              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1/2 vCPU @ 3.4GHz, 1GB RAM</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for individuals</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Builds</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Private Docker Registry</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
              </ul>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Plus Tier -->
        <div class="col-lg-3 mb-5">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">GROWTH</h5>

              <h6 class="card-price text-center"> 
                <span id="pro" style="color:green;">$529</span><br>
              </h6>
              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>2 vCPU @ 3.4GHz, 4GB RAM</strong></li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>Includes all BASIC features</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for small teams</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Docker Layer Caching</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>2 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>2 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>30 Day money back guarantee</li>
              </ul>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Pro Tier -->
        <div class="col-lg-3 mb-5">
          <div class="card top-plan">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
              <h6 class="card-price text-center">
                <span id="pro" style="color:green;">$2149</span><br>
              </h6>

              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>4 vCPU @ 3.4GHz, 8GB RAM</strong></li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>Includes all GROWTH features </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for SME teams</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Kubernetes GitOps</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Helm, Jsonnet, and Kustomize Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Artifactory and Reports Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>30 Day money back guarantee</li>
              </ul>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Enterprise -->
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Custom</h5>
              <h6 class="card-price text-center">Start POC</h6>
              <hr>
              <ul>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span><strong>Includes all PRO features</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited data retention</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>20 concurrent builds and steps</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Behind the firewall support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Hybrid - Run builds on your infrastructure, and the Razorops UI on our infrastructure.</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>On-premise - Run the full Razorops stack on your own infrastructure.</li>
              </ul>
              <br>
              <a href="/contact" class="btn btn-block btn-primary text-uppercase">Talk to Sales</a>
            </div>
          </div>
        </div>

      </div>
    </List>
  </div>
</div>

<div class="monthly-list">
  <div class="mt-80 mb-80">
    <List class="pricing" id="option1" >
      <div class="row">
        <div class="col-lg-3">
          <div class="card mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">BASIC</h5>
              <h6 class="card-price text-center">FREE</span></h6>
              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1/2 vCPU @ 3.4GHz, 1GB RAM</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for individuals</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Builds</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Private Docker Registry</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
              </ul>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Plus Tier -->
        <div class="col-lg-3 mb-5">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">GROWTH</h5>
              <h6 class="card-price text-center"> 
                <span id="pro" style="color:green;">$49</span><br>
              </h6>
              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>2 vCPU @ 3.4GHz, 4GB RAM</strong></li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>Includes all BASIC features</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for small teams</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Docker Layer Caching</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>2 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>2 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>30 Day money back guarantee</li>
              </ul>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Pro Tier -->
        <div class="col-lg-3 mb-5">
          <div class="card top-plan">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
              <h6 class="card-price text-center">
                <span id="pro" style="color:green;">$199</span><br>
              </h6>
              <hr>
              <ul>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>4 vCPU @ 3.4GHz, 8GB RAM</strong></li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>Includes all GROWTH features </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideal for SME teams</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Kubernetes GitOps</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Helm, Jsonnet, and Kustomize Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Artifactory and Reports Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Concurrent pipelines</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Parallel actions</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span>30 Day money back guarantee</b></li>
              </ul>
              <br>
              <br>
              <a href="https://dashboard.razorops.com/users/sign_in" class="btn btn-block btn-primary text-uppercase">TRY IT FREE</a>
            </div>
          </div>
        </div>

        <!-- Enterprise -->
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Custom</h5>
              <h6 class="card-price text-center">Start POC</h6>
              <hr>
              <ul>
                <li class="primary-color"><span class="fa-li"><i class="fas fa-check"></i></span><strong>Includes all PRO features</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited data retention</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>20 concurrent builds and steps</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Behind the firewall support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Hybrid - Run builds on your infrastructure, and the Razorops UI on our infrastructure.</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>On-premise - Run the full Razorops stack on your own infrastructure.</li>
              </ul>
              <br>
              <a href="/contact" class="btn btn-block btn-primary text-uppercase">Talk to Sales</a>
            </div>
          </div>
        </div>
      </div>
    </List>
  </div>
</div>
</div>
</div>
</div>


<div class="">

<div id="compare" class="compare-plans cloud" style="padding: 10;">
  <div class="plan-nav">
      <div class="navi free active">Free</div>
      <div class="navi startup">Startup</div>
      <div class="navi scaleup">Scaleup</div>
  </div>
  <div class="calcu mobile">
  
  </div>
  <ul class="featurelist">
  <li class="calc">
  
  <div class="inputs">
    <div class="minutes">
  <div class="name">Cloud minutes <div class="tooltip" data-rocket-lazy-bg-6195c0ea-bb11-43e5-83db-ab98c8bd8158="loaded">ⓘ<span class="tooltiptext">Total minutes of cloud machine time spent per month.</span></div>
  </div>
  <input class="minutes" type="number" value="12000" min="1" max="900000000">
  </div>      
      </div></li>
  <li class="header">Plan Overview</li>
  <li>
  <div class="title" style="color:#0A1120;" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Total Cost</div>
  <div class="description">Maximum of 5 users and 7,000 cloud minutes are available on free plan.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Users</div>
  <div class="description">Maximum number of users allowed in the organization.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Concurrency</div>
  <div class="description">No servers to manage. CI/CD scales to process your work just in time.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Cloud Machines</div>
  <div class="description">A wide variety of high-performance cost-effective cloud machines to choose from.</div>
  </li>
  
  <li class="header">Features</li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Multi-stage Build Pipelines</div>
  <div class="description">Optimize for fast feedback by combining parallel jobs with sequential pipeline stages.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Artifacts</div>
  <div class="description">Save files to reuse them across your pipelines or as permanent records for future reference.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Project Metrics</div>
  <div class="description">Track performance, build frequency, and reliability of each pipeline over time.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Flaky Tests Dashboard</div>
  <div class="description">Identify and analyze inconsistent tests and understand their impact on workflows.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Deployment Targets</div>
  <div class="description">Streamline your deployment process with secure access management and deployment tracking.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Parameterized Deployments</div>
  <div class="description">Define custom forms to parameterize CD pipelines.</div>
  </li>
  
  <li class="header">Access Control &amp; Governance</li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Project Roles</div>
  <div class="description">Customize permissions for each project or inherit them from the repository.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Granular Deployment Permissions</div>
  <div class="description">Give deployment permissions to a restricted set of accounts.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">SCIM/SAML Support</div>
  <div class="description">Integrate with your favorite access management service.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">User Groups</div>
  <div class="description">Create custom groups for easier access management.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Audit Logs</div>
  <div class="description">Record any activity and streamline logs to an external location.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Pre-flight Checks</div>
  <div class="description">Set up additional jobs that are required to run prior to any workflow.</div>
  </li>
  
  <li class="header">Support &amp; Billing</li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Priority Email Support</div>
  <div class="description">Priority status for all support requests.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">SLAs and Premium Support</div>
  <div class="description">Dedicated account manager, shared Slack channel, and 24/5 &amp; 24/7 SLAs available as add-on.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Annual Plan Discount</div>
  <div class="description">Discounted pricing for annual plans.</div>
  </li>
  <li>
  <div class="title" data-rocket-lazy-bg-1b08e94b-bea0-4845-99c4-4936283205bf="loaded">Payment Options</div>
  <div class="description">Payment through credit card or via invoice.</div>
  </li>
  </ul>
  <div class="plans three">
  <div class="plan free visible">
  <div class="plan-cost">
  <h3 id="free">Free</h3>
  
  </div>
  <ul class="items">
  <!-- first -->
  <li class="header" style="height: 60px;"></li>
  <li class="" style="height: 70px;"><div class="price free">$0</div></li>
  <li class="" style="height: 70px;">5</li>
  <li class="" style="height: 70px;">20</li>
  <li class="" style="height: 70px;">7,000 minutes <div class="tooltip" data-rocket-lazy-bg-6195c0ea-bb11-43e5-83db-ab98c8bd8158="loaded">ⓘ<span class="tooltiptext">Only 2 vCPU machines are available on the free plan.</span></div></li>
  <!-- second -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <!-- third -->
  <li class="header" style="height: 60px;"></li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <!-- fourth -->
  <li class="header" style="height: 60px;"></li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  </ul>
  </div>
  <div class="plan startup">
  <div class="plan-cost">
  <h3 id="startup">Startup</h3>
  </div>
  <ul class="items">
  <!-- first -->
  <li class="header" style="height: 60px;"></li>
  <li class="" style="height: 70px;"><div class="price startup">$90</div></li>
  <li class="" style="height: 70px;">Unlimited</li>
  <li class="" style="height: 70px;">Unlimited</li>
  <li class="" style="height: 70px;">Unlimited</li>
  <!-- second -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="fontsmall" style="height: 70px;">30/100 GB<div class="tooltip" data-rocket-lazy-bg-6195c0ea-bb11-43e5-83db-ab98c8bd8158="loaded">ⓘ<span class="tooltiptext">Additional usage is charged $0.35 for network, and $0.07 for storage per GB/month.</span></div></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <!-- third -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="no" style="height: 70px;">❌</li>
  <!-- fourth -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="no" style="height: 70px;">❌</li>
  <li class="" style="height: 70px;">Available</li>
  <li class="" style="height: 70px;">Card only</li>
  </ul>
  </div>
  <div class="plan scaleup">
  <div class="plan-cost">
  <h3 id="scaleup">Scaleup</h3>
  </div>
  <ul class="items">
  <!-- first -->
  <li class="header" style="height: 60px;"></li>
  <li class="" style="height: 70px;"><div class="price scaleup">$1000</div></li>
  <li class="" style="height: 70px;">Unlimited</li>
  <li class="" style="height: 70px;">Unlimited</li>
  <li class="" style="height: 70px;">Unlimited</li>
  <!-- second -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="fontsmall" style="height: 70px;">200/1,000 GB<div class="tooltip" data-rocket-lazy-bg-6195c0ea-bb11-43e5-83db-ab98c8bd8158="loaded">ⓘ<span class="tooltiptext">Additional usage is charged $0.35 for network, and $0.07 for storage per GB/month.</span></div></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <!-- third -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="yes" style="height: 70px;">✅</li>
  <!-- fourth -->
  <li class="header" style="height: 60px;"></li>
  <li class="yes" style="height: 70px;">✅</li>
  <li class="" style="height: 70px;">Available</li>
  <li class="" style="height: 70px;">Included</li>
  <li class="" style="height: 70px;">Invoice</li>
  </ul>
  </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const checkbox = document.getElementById("status");
      const monthlyList = document.querySelector(".monthly-list");
      const yearlyList = document.querySelector(".yearly-list");

         // Show the monthly list by default
    monthlyList.style.display = "block";
    yearlyList.style.display = "none";

      checkbox.addEventListener("change", function () {
          if (this.checked) {
              monthlyList.style.display = "none";
              yearlyList.style.display = "block";
          } else {
              monthlyList.style.display = "block";
              yearlyList.style.display = "none";
          }
      });
  });
</script>