<div class="pricing-header">
	<div class="pricing-header">
		<h2 style="text-align:center;"><b>Frequently Asked Questions</b></h2>
	</div>
</div>


<div class="panel-group" id="faqAccordion">

	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question2">Q: How do I refer a friend?
                 </a>
			</h4>
		</div>

		<div id="question2" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p class="lead mb-0" >
					Your referral program area will provide you a unique referral link. Share this link with your friends and family.
				</p>
			</div>
		</div>
	</div>


	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question1">Q:

                 Will I receive my referral bonus immediately?
				</a>
			</h4>
		</div>
		
		<div id="question1" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				
				<p class="lead mb-0">Referred users must be active more than 30 days to be counted toward your referral bonus. See program details .</p>
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-faq">
		<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
			<h4 class="panel-title">
				<a href="javascript:void(0)" class="ing" data-toggle="collapse"
				 data-target="#question3">Q:
                 When are payouts issued?</a>
			</h4>
		</div>

		<div id="question3" class="panel-collapse collapse" style="height: 0px;">
			<div class="panel-body">
				<h5><span class="label label-primary">Answer</span></h5>
				<p class="lead mb-0">Payouts are issued on the business day following the 1st and 15th of each month. </p>
			</div>
		</div>
	</div>

	
	<br><br><br><br>
</div>
