<div class="pricing-header">
	<div class="pricing-header">
		<h2 style="text-align:center;"><b>Frequently Asked Questions</b></h2>
	</div>
</div>



<main id="faq-panel">
    <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Q: How do I refer a friend?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Your referral program area will provide you a unique referral link. Share this link with your friends and family.
			</p>
          </div>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              
			Q. Will I receive my referral bonus immediately?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>Referred users must be active more than 30 days to be counted toward your referral bonus .</p>
          </div>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Q. When are payouts issued?
              <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p>Payouts are issued on the business day following the 1st and 15th of each month.</p>
          </div>
        </div>
      </section>
    </article>
  </main>