<div class="container-fluid tag-line" style=" padding:30px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 let-start-cta">
                <h2 style="font-size: 37px;">Let's Get Started</h2>
                <p style="font-size: 19px;">Click on the button and our team will get in touch with you for a detailed discussion about Razorops Partnership Program along with the benefits tailored exclusively for the partners.</p>
            </div>

            <div class="col-md-4 let-start-cta-btn">
                <a href="/contact" class="btn" >Contact Us</a>
            </div>
        </div>
    </div>
</div>

<!-- background-image: linear-gradient(rgb(43, 42, 42),rgb(15, 77, 200)); -->