<div class="container-fluid" style="background-color: rgb(38, 90, 202);">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="padding-left: 70px;">
                <h2>Sign up today</h2>
                <p style="font-size: 19px;">Schedule some time below and we will set up an intro meeting to determine the best partner tier for you. Once you’re onboarded, you can start accessing partner benefits immediately!</p>
            </div>

            <div class="col-md-4">
                <a href="/schedule-demo" class="btn" style="background-color: rgb(247, 249, 255); font-size: 16px; color: rgb(38, 90, 202); margin: 57px 0px 0px 80px;">Set up a meeting</a>
            </div>
        </div>
    </div>
</div>