<section class="signup-cta-section">
    <div class="container">
        <div class="v3signup-inner row">
            <div class="col-sm-5 v3signup-cta-text">
                <p class="head1">Ready to get started?</p>
                <p class="head2">FREE Forever CI/CD... </p>
            </div>
            <div class="col-sm-4 v3signup-cta-arrow">
                <!-- <p class="cta-arrow">⟶</p> -->
                <!-- <p class="cta-arrow">&#10230;</p> -->
                <img src="/images/right_arrow-logo.png" width="100%" class="cta-arrow" alt="Signup Here">
            </div>
            <div class="col-sm-3 v3signup-ctabtn">
                <a href="https://dashboard.razorops.com/users/sign_up?utm_source=signup_cta" class="btn btn-white-razorops">Click Here To Signup </a>
              </div>
            </div>
        </div>
    </div>
</section>