<div class="container-fluid" style=" padding:30px; background-color:rgb(4, 5, 7); ">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="padding-left: 70px; color: white;">
                <h2 style="font-size: 37px;">Let's Get Started</h2>
                <p style="font-size: 19px;">Click on the button and out team will get in touch with you for a detailed discussion about Razorops Partnership Program along with the benefits tailored exclusively for the partners.</p>
            </div>

            <div class="col-md-4">
                <a href="/contact" class="btn" style="font-size: 18px; font-weight: 600; border-radius: 10px; color: rgb(0, 0, 0); margin: 57px 0px 0px 80px; padding-top: 6px; background-color: azure;">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<!-- background-image: linear-gradient(rgb(43, 42, 42),rgb(15, 77, 200)); -->