
<div class="container testimonial">
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/images/clients/mavrick-yaron.jpeg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Razorops, the most amazing asset to me and my team. Blazing fast, makes Continuous Development an absolute breeze!</p>
                  <small>Yaron Oren (Founder and CEO at Maverick.ai)</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/images/clients/scraptap-hiren.jpeg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Running up an environment to run tests is the quickest comparing to others.</p>
                  <small>Hiren Gogoi (Head of Product & Technology at Scraptap)</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/images/clients/hiredgrad-krishna.jpeg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Razorops was the first CD/CI, I was actually able to get working with. I can rely on the Razorops team - they deliver!</p>
                  <small>Krishna V (Co Founder at HiredGrad)</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="razorops-client">
  <div class="container">
    <div class="row">
      <div class="razorops-clients">
        <h2>Join amazing companies</h2>
        <img src="/images/clients/techmahindra.jpg" alt="tech mahindra" class="razopops-clients-img">
        <img src="/images/clients/y-axis.jpg" alt="Y AXIS" class="razopops-clients-img">
        <img src="/images/clients/scraptap.jpg" alt="scraptap"  class="razopops-clients-img">
        <img src="/images/clients/maverick.jpg" alt="maverick" class="razopops-clients-img">
        <img src="/images/clients/hiredgrad.jpg" alt="hiredgrad"  class="razopops-clients-img">
        <img src="/images/clients/barknlounge.jpg" alt="barknlounge"  class="razopops-clients-img">
      </div>
    </div>
  </div>
</div>

<div class="demo-call-to-action">
  <p>PRETTY CONVINCING, RIGHT?</p>
  <h2>Request a <b>free demo</b></h2>
  <a href="/schedule-demo" class="btn btn-demo-request">Schedule Demo</a>
</div>
