<div class="banner-clients bg-white">
  <div class="container">
  </div>
</div>

<div class="">
  {% include top_clients.html %}
</div>

<div class="testimonial">
  <h1 class="testimonial-title">Talk of the town</h1>
  <div class="testimonial-subtitle">Nowadays, the increasingly growing number of mobile </div>


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      <li data-target="#carousel-example-generic" data-slide-to="7"></li>
      <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        
        <div  class="slick-slide slick-active slick-current" style="outline: none; width: 1351px;">
          <div>
            <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1"
              style="width:100%;display:inline-block">
              <div
                class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                  <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                    <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                    <div class="css-13y3wkt">Razorops, the most amazing asset to me and my team. Blazing fast, makes continuous development an absolute breeze!</div>
                  </div>
                  <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                    <div class="MuiGrid-root MuiGrid-item css-19lgvq3">
                      <span class="css-1byujgl">Yaron Oren
                        </span><span class="css-1esmc26">Founder and CEO at Maverick.ai</span></div>
                      </div>
                </div> 
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                <img alt="Maverick-Yaron" src="/images/clients/mavrick-yaron.webp" loading="lazy" width="100%"
                  height="auto" class="css-1hkaqb1">
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slick-slide" style="outline: none; width: 1351px;">
          <div>
            <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
              <div
                class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                  <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                    <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                    <div class="css-13y3wkt">Migrating to container-native DevOps practices with the help of Razorops CI/CD has been  a game-changing experience.
                       It has helped us outperform our competitors by enhancing our speed and performance with great simplicity</div>
                  </div>
                  <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                    <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Xerxes Mullen
                        </span><span class="css-1esmc26">Founder of Maxamtech Digital Ventures PVT LTD</span></div>
                      </div>
                </div> 
              </div>      
              <div
                class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                <img alt="Maxamtech" src="/images/case-study-assets/maxamtech-founder.webp" loading="lazy" width="100%"
                  height="auto" class="css-1hkaqb1">
            </div>
          </div>
        </div>
        </div>
        </div>
   

        <div class="item">

          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width: 100%;display: inline-block;">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">Running up an environment to run tests is
                        the quickest comparing to others</div>
                   </div>
                   <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                    <div class="MuiGrid-root MuiGrid-item css-19lgvq3">
                      <span class="css-1byujgl">Surendra Ganne
                        </span>
                        <span class="css-1esmc26">Co-Founder at Tricecommunity</span></div>
                      </div>
                </div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                <img alt="Surendra-Tricecommunity" src="/images/clients/surendra.webp" loading="lazy" width="100%"
                  height="auto" class="css-1hkaqb1">
            </div>
                    </div>
                  </div>
                </div>
              </div>

      

        <div class="item">

          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">I can definitely say that shorter build times lead to better time utilization,
                        which means we can ship more stuff faster!</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Jitendra sharma
                          </span><span class="css-1esmc26">CTO at NimbleBuying</span></div>
                        </div>
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="NimbleBuying" src="/images/case-study-assets/jitender-nimble-buying.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
              </div>
            </div>
          </div>
        </div>
        </div>

       

        <div class="item">
          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">A quick and authentic CI/CD solution is critical.
                        It verifies features get to our customers on the dot and bug-free</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Satya Krishna Ganni
                          </span><span class="css-1esmc26">CEO at Applozic</span></div>
                        </div>
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="Applozic" src="/images/clients/applozic-newfounder.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
              </div>
            </div>
          </div>
          </div>
          </div>
       

        <div class="item">
          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">Razorops is an essential  part of our framework it means that 
                        pushing the code to production is completely automated</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Sangeeta Raju
                          </span><span class="css-1esmc26">Co-Founder of 72PI</span></div>
                        </div>
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="72PI" src="/images/clients/72pico-founder.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
              </div>
            </div>
          </div>
          </div>
          </div>
       

        <div class="item">
          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">Razorops takes care of configuration and assets in the background,
                        and that will liberate a lot of my time</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Srikanth B
                          </span><span class="css-1esmc26">Founder and Director at Si6 Associates</span></div>
                        </div>
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="Si6" src="/images/clients/si6-founder.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
              </div>
            </div>
          </div>
          </div>
          </div>
       

        <div class="item">
          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">We are very happy with Razorops, we can now focus on our goal without worrying about trivial matters.
                        Choosing Razorops was the right choice</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Kiran Babu
                          </span><span class="css-1esmc26">Founder and CEO at Egnify</span></div>
                  </div>
                </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="Egnify" src="/images/clients/egnify-founder1.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
              </div>
            </div>
          </div>
          </div>
          </div>


        <div class="item">
          <div class="slick-slide slick-cloned" style="width: 1351px;">
            <div>
              <div class="MuiGrid-root MuiGrid-container css-16yfuk6" tabindex="-1" style="width:100%;display:inline-block">
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-ku5ckl">
                  <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                      <div style="font-size:60px;text-align:left" class="css-13y3wkt">“</div>
                      <div class="css-13y3wkt">Razorops was the first CI/CD,
                        I was actually able to get working with. I can rely on the Razorops team - they deliver!</div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1hhoyif">
                      <div class="MuiGrid-root MuiGrid-item css-19lgvq3"><span class="css-1byujgl">Krishna V
                          </span><span class="css-1esmc26">Co-Founder of HiredGrad</span></div>
                  </div>
                </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-10 MuiGrid-grid-sm-10 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 css-1t2xqxk">
                  <img alt="HiredGrad" src="/images/clients/hiredgrad-krishna.webp" loading="lazy" width="100%"
                    height="auto" class="css-1hkaqb1">
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--

        
        </div>
        
      </div>

      <div class="carousel-item">

        
          </div>
        
      </div>





    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
 

<!-- 
<div class="testimonials">
  <div class="container">
    <div class='row'>
      <div class='col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10'>
        

        <div class="carousel slide" data-ride="carousel" id="quote-carousels">
          
          <ol class="carousel-indicators">
            <li data-target="#quote-carousels" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousels" data-slide-to="1"></li>
            <li data-target="#quote-carousels" data-slide-to="2"></li>
            <li data-target="#quote-carousels" data-slide-to="3"></li>
            <li data-target="#quote-carousels" data-slide-to="4"></li>
            <li data-target="#quote-carousels" data-slide-to="5"></li>
            <li data-target="#quote-carousels" data-slide-to="6"></li>
            <li data-target="#quote-carousels" data-slide-to="7"></li>
            <li data-target="#quote-carousels" data-slide-to="8"></li>
          </ol>
          
          <div class="carousel-inner">

            
            <div class="item active" style="background-color: white;">

              <div>
                <img src="/images/clients/mavrick-yaron.webp" alt="mavrick-yaron" class="centerimg">
                <p class="text-center testimonial-reviews">"Razorops, the most amazing asset to me and my team. Blazing fast, makes continuous development an absolute breeze!"
                  <br>
                  <h3 class="text-center" style="font-weight: 600;">Yaron Oren</h3>
                  <p class="text-center"> Founder and CEO at Maverick.ai </p>
                </p>
                <br><br><br><br>
              </div>
              
            </div>

            <div class="item" style="background-color: white;">
              <div>
              <img src="/images/case-study-assets/maxamtech-founder.webp" class="centerimg">
              <p class="text-center testimonial-reviews">"Migrating to container-native DevOps practices with the help of Razorops CI/CD has been  a game-changing experience. It has helped us outperform our competitors by enhancing our speed and performance with great simplicity"
              <br>
              <h3 class="text-center" style="font-weight: 600;">Mr. Xerxes Mullen  </h3>
              <p class="text-center"> Founder of  Maxamtech Digital Ventures Pvt Ltd </p>
              </p>
              <br><br><br><br>
              </div>
            </div>


            <div class="item" style="background-color: white;">
              <div>
                <img src="/images/clients/surendra.webp"  alt="Surendra Tricecommunity" class="centerimg">
                <p class="text-center testimonial-reviews">"Running up an environment to run tests is the quickest comparing to others."
                  <br>
                  <h3 class="text-center" style="font-weight: 600;">Surendra Ganne </h3>
                  <p class="text-center"> Co-founder at Tricecommunity </p>
                </p>
                <br><br><br><br>
              </div>
            </div>

            <div class="item" style="background-color: white;">
              <div>
                <img src="/images/case-study-assets/jitender-nimble-buying.webp"  alt="Jessica-Fetcher" class="centerimg">
                <p class="text-center testimonial-reviews">"I can definitely say that shorter build times lead to better time utilization,
                   which means we can ship more stuff faster!"
                  <br>
                  <h3 class="text-center" style="font-weight: 600;">Jitender Sharma</h3>
                  <p class="text-center"> CTO at NimbleBuying </p>
                </p>
                <br><br><br><br>
              </div>
            </div>

            <div class="item" style="background-color: white;">
            <div>
            <img src="/images/clients/applozic-newfounder.webp" class="centerimg">
            <p class="text-center testimonial-reviews">"A quick and authentic CI/CD solution is critical.
               It verifies features get to our customers on the dot and bug-free."
            <br>
            <h3 class="text-center" style="font-weight: 600;">Satya Krishna Ganni </h3>
            <p class="text-center"> CEO of Applozic </p>
            </p>
            <br><br><br><br>
            </div>
            </div>

            <div class="item" style="background-color: white;">
            <div>
            <img src="/images/clients/72pico-founder.webp" class="centerimg">
            <p class="text-center testimonial-reviews">"Razorops is an essential  part of our framework it means that pushing the code to production is completely automated."
            <br>
            <h3 class="text-center" style="font-weight: 600;">Sangeeta Raju </h3>
            <p class="text-center"> Co-Founder of 72PI  </p>
            </p>
            <br><br><br><br>
            </div>
            </div>

            <div class="item" style="background-color: white;">
            <div>
            <img src="/images/clients/si6-founder.webp" class="centerimg">
            <p class="text-center testimonial-reviews">"Razorops takes care of configuration and assets in the background,
               and that will liberate a lot of my time"
            <br>
            <h3 class="text-center" style="font-weight: 600;">Srikanth B.  </h3>
            <p class="text-center"> Founder and Director - Si6 Associates</p>
            </p>
            <br><br><br><br>
            </div>
            </div>

            <div class="item" style="background-color: white;">
            <div>
            <img src="/images/clients/egnify-founder1.webp" class="centerimg">
            <p class="text-center testimonial-reviews">"We are very happy with Razorops, we can now focus on our goal without worrying about trivial matters.
               Choosing Razorops was the right choice"
            <br>
            <h3 class="text-center" style="font-weight: 600;">Kiran Babu   </h3>
            <p class="text-center"> Founder and CEO of Egnify  </p>
            </p>
            <br><br><br><br>
            </div>
            </div>

            <div class="item" style="background-color: white;">
            <div>
            <img src="/images/clients/hiredgrad-krishna.webp" class="centerimg">
            <p class="text-center testimonial-reviews">"Razorops was the first CI/CD,
               I was actually able to get working with. I can rely on the Razorops team - they deliver!"
            <br>
            <h3 class="text-center" style="font-weight: 600;">Krishna V  </h3>
            <p class="text-center"> Co Founder at HiredGrad </p>
            </p>
            <br><br><br><br>
            </div>
            </div>


            

            </div>


          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div> -->




<!-- Carousel Buttons Next/Prev {line no 148}-->
<!-- Quote 1 line no 33-->
<!-- Bottom Carousel Indicators  line no 18-->
<!-- <div class="section-header"> -->
<!-- <h2>Join our happy customers</h2> -->
<!-- </div> -->
<!-- Carousel Slides / Quotes  line no 28-->