<div class="testimonials">
  <div class="container">
    <div class='row'>
      <div class='col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10'>
        <!-- <div class="section-header"> -->
          <!-- <h2>Join our happy customers</h2> -->
        <!-- </div> -->

        <div class="carousel slide" data-ride="carousel" id="quote-carousels">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousels" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousels" data-slide-to="1"></li>
            <li data-target="#quote-carousels" data-slide-to="2"></li>
            <li data-target="#quote-carousels" data-slide-to="3"></li>
          </ol>
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

            <!-- Quote 1 -->
            <div class="item active" style="background-color: white;">
              
                <div>
                  <img src="/images/clients/mavrick-yaron.jpeg" class="centerimg">
            <p style="padding: 23px; line-height: 36px; font-size: 24px;" class="text-center">"Razorops, the most amazing asset to me and my team. Blazing fast, makes continuous development an absolute breeze!"
                <br>
          <h3 class="text-center" style="font-weight: 600;">Yaron Oren</h3>
              <p class="text-center"> Founder and CEO at Maverick.ai </p>
            </p>
        <br><br><br><br>
                </div>
            
            </div>

            <div class="item" style="background-color: white;">
              <div>
                  <img src="/images/clients/surendra.png" class="centerimg">
            <p style="padding: 23px; line-height: 36px; font-size: 24px;" class="text-center">"Running up an environment to run tests is the quickest comparing to others."
                <br>
          <h3 class="text-center" style="font-weight: 600;">Surendra Ganne </h3>
              <p class="text-center"> Co-founder at Tricecommunity </p>
            </p>
        <br><br><br><br>
                </div>
            </div>

            <div class="item" style="background-color: white;">
      <div>
                  <img src="/images/clients/Jessica-Fetcher.webp" class="centerimg">
            <p style="padding: 23px; line-height: 36px; font-size: 24px;" class="text-center">"I can definitely say that shorter build times lead to better time utilization, which means we can ship more stuff faster!"
                <br>
          <h3 class="text-center" style="font-weight: 600;">Jessica Fetcher</h3>
              <p class="text-center"> CEO at 1Dossier </p>
            </p>
        <br><br><br><br>
                </div>
            </div>

            <div class="item" style="background-color: white;">
              <div>
                  <img src="/images/clients/hiredgrad-krishna.webp" class="centerimg">
            <p style="padding: 23px; line-height: 36px; font-size: 24px;" class="text-center">"Razorops was the first CI/CD, I was actually able to get working with. I can rely on the Razorops team - they deliver!"
                <br>
          <h3 class="text-center" style="font-weight: 600;">Krishna V  </h3>
              <p class="text-center"> Co Founder at HiredGrad </p>
            </p>
        <br><br><br><br>
                </div>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>