<div class=" customers-banner1">
	<div class="section-header">
	  <h2>RazorOps incubation and community</h2>
	</div>
  
	<div class="container">
	  <br><br><br>
	  <div class="row ">
		<img src="/images/home/t-hub-hyderabad.webp" class="razorops-do-img" alt="nasscom" />
		<img src="/images/home/nasscom-logo.webp" class="razorops-do-img" alt="nasscom" />
		<img src="/images/home/nasscom-CCoE-logo.webp" class="razorops-do-img" alt="nasscom" />
		<img src="/images/home/nasscom-dsci.webp" class="razorops-do-img" alt="nasscom" />
		<br><br>
	  </div>
	</div>
  </div>
  
  
