<div class="clearfix"></div>
<div class="slider">
	<div class="slide-track">
		<div class="slide2">
			<img src="/images/clients/digitalocean.png" alt="digitalocean" >
		</div>
		<div class="slide2">
			<img src="/images/clients/techmahindra.jpg" alt="techmahindra" >
		</div>
		<div class="slide2">
			<img src="/images/clients/wipro.png" alt="wipro" >
		</div>
		<div class="slide2">
			<img src="/images/clients/tata-consultancy-services.png" alt="tata-consultancy-services" >
		</div>
		<div class="slide2">
			<img src="/images/clients/Zscaler.png" alt="Zscaler" >
		</div>
		<div class="slide2">
			<img src="/images/clients/SITU.svg" alt="SITU" height="50px" >
		</div>
		<div class="slide2">
			<img src="/images/clients/opentech.svg" alt="opentech" >
		</div>
		<div class="slide2">
			<img src="/images/clients/Hiringhood.jpeg" alt="Hiringhood" >
		</div>
		<div class="slide2">
			<img src="/images/clients/netfusiontechnology.png" alt="net fusion technology" >
		</div>
		<div class="slide2">
			<img src="/images/clients/national-statistical-office.gif" alt="national-statistical-office" >
		</div>
		<div class="slide2">
			<img src="/images/clients/barknlounge.jpg" alt="barknlounge" >
		</div>
		<div class="slide2">
			<img src="/images/clients/hiredgrad.png" alt="hiredgrad" >
		</div>
		<div class="slide2">
			<img src="/images/clients/comakeit.png" alt="comakeit" >
		</div>
		<div class="slide2">
			<img src="/images/clients/auzmor.png" alt="auzmor" >
		</div>
		<div class="slide2">
			<img src="/images/clients/1dossier.webp" alt="1dossier">
		</div>
		<div class="slide2">
			<img src="/images/clients/dbmt-group.png" alt="dbmt-group">
		</div>
		<div class="slide2">
			<img src="/images/clients/railsroot.png" alt="railsroot" >
		</div>
		<div class="slide2">
			<img src="/images/clients/trice.png" alt="trice">
		</div>
		<div class="slide2">
			<img src="/images/case-study-assets/egnify.svg" alt="egnify" >
		</div>
		<div class="slide2">
			<img src="/images/case-study-assets/applozicbrandLogo.svg" alt="applozic" >
		</div>
    <div class="slide2">
			<img src="/images/clients/maverick.png" alt="maverick" >
		</div>
		<div class="slide2">
			<img src="/images/case-study-assets/72pi.png" alt="72pi" >
		</div>
		<div class="slide2">
			<img src="/images/case-study-assets/leading-edtech-logo.png" alt="EdTech" >
		</div>
		<div class="slide2">
			<img src="/images/case-study-assets/nimble.png" alt="Nimble Buying" >
		</div>
    <div class="slide2">
			<img src="/images/clients/yaxis.png" alt="Y AXIS" >
		</div>

	</div>
</div>
