<div class="clearfix"></div>
<div class="slider">
	<div class="slide-track">
	<div class="slide2">
		<img src="/images/clients/yaxis.png" alt="Y AXIS" >
	</div>

	<div class="slide2">
		<img src="/images/clients/auzmor.png" alt="auzmor" >
	</div>

	<div class="slide2">
		<img src="/images/clients/1dossier.webp" alt="1dossier">
	</div>

	<div class="slide2">
		<img src="/images/clients/dbmt-group.png" alt="dbmt-group">
	</div>

	<div class="slide2">
		<img src="/images/clients/railsroot.png" alt="railsroot" >
	</div>

	<div class="slide2">
		<img src="/images/clients/trice.png" alt="trice">
	</div>

	<div class="slide2">
		<img src="/images/clients/yaxis.png" alt="Y AXIS" >
	</div>

	<div class="slide2">
		<img src="/images/clients/auzmor.png" alt="auzmor" >
	</div>

	<div class="slide2">
		<img src="/images/clients/1dossier.webp" alt="1dossier">
	</div>

	<div class="slide2">
		<img src="/images/clients/dbmt-group.png" alt="dbmt-group">
	</div>

	<div class="slide2">
		<img src="/images/clients/railsroot.png" alt="railsroot" >
	</div>

	<div class="slide2">
		<img src="/images/clients/trice.png" alt="trice">
	</div>
</div>
</div>
