.navbar-default{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	border-bottom: 0;
	padding: 10px 0;
	margin-bottom: 0;
}
.navbar {
	z-index: 4;
}
.navcontainer{
    margin: 0px 120px;
}
.navcontainer .navbar-brand{
    background-color: #345EEF;
}
.navcontainer .navbar-nav{
    margin-left: 100px;
    
}
.navcontainer .navbar-nav .all-btns{
    margin-left: 80px;
    margin-right: 10px;

}
.navbar-nav li{
    margin-right: 20px;
}
.navbar-nav li:hover .dropdown-menu{
    display: block;
}   
.navbar-nav>.new-btns>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.txt-blue{
    color: #345EEF !important;

}
.blue-bg{
    background-color: #345EEF;
    color: #FFFFFF !important;
}
.blue-bg a{
   
    color: #FFFFFF !important;
}
.new-btns{
    padding: 5px 18px;
    height: 40px;
    border:1px solid #345EEF;
    border-radius: 15px;
    margin-left: 40px;

}
.v3footer-dark{
    padding: 40px;
    background: #5e5d5d;
}
.v3footer-dark .the-razorops{
    padding: 10px 40px 40px 40px;
}
.v3footer-dark .the-razorops h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: white;
}
.v3footer-dark .the-razorops p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #BEBEBE;
}
.all-razoropslink h3{
    color: #BEBEBE;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.all-razoropslink .footer-nav>li a{
    color: #BEBEBE !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


}
.all-razoropslink .footer-nav>li{
    margin-bottom: 10px;
}
.all-razoropslink .footer-nav{
    list-style: none;
    padding: 0px;
}
.homev3-banner{
    background: #ffffff;
    text-align: center;
	padding: 150px 15px 150px 15px;
    margin-top: 80px;
}
.homev3-banner h2{
    left: 38.25%;
    right: 38.14%;
    top: 2.16%;
    bottom: 97.6%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;


    text-align: center;

    color: #345EEF;
}

.homev3-banner hr{
    width: 85px;
    height: 2px;
    left: 918px;
    top: 335px;

    background: #345EEF;
}
.homev3-banner .banner-heading1{
   
    height: 179px;
    left: 35.28%;
    right: 34.03%;
    top: calc(50% - 179px/2 - 6354px);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
   

    text-align: center;

    color: #18204C;
}
.homev3-banner .banner-content{


    height: 71px;
    left: 698px;
    right: 697px;
    top: 575px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
   

    text-align: center;

    color: #5B5B5B;
}
.homev3-banner .bannerbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;

    position: absolute;
    width: 194.07px;
    height: 50px;
    left: 842px;
    top: 666px;

    background: #345EEF;
    border-radius: 15px;
}
.homev3-banner .bannerbtn a{
    position: static;
    width: 105px;
    height: 26px;
    left: calc(50% - 105px/2 - 0px);
    top: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  
    color: #FFFFFF;




    flex: none;
    order: 0;
    flex-grow: 0;
}
.v3clients{
    text-align: center;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.v3clients img{
   
        width: 150px;
        margin-right: 10px;

}
.v3clients .v3gallery{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.aboutv3-rops{
   
   padding: 50px;
   padding-bottom: 140px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) -2.41%, rgba(240, 238, 255, 0.8) 42.23%);
}
.aboutv3-rops > div{
    padding: 40px 180px 40px 180px;
}
.aboutv3-rops .mass-ss img{
    margin-top: 80px;
}
.aboutv3-rops .v3schedule-demo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;

    position: absolute;
    width: 223px;
    height: 50px;
    left: 891px;
    top: 2810px;

    background: #345EEF;
    border-radius: 15px;
}
.aboutv3-rops .v3schedule-demo a{
    position: static;
    width: 150px;
    height: 26px;
    left: calc(50% - 150px/2);
    top: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
   
    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.aboutv3-rops .v3left{
    
    height: 568px;
    text-align: left !important;
    padding-top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
   


    color: #000000;
}

.aboutv3-rops .v3left a{
    color: #345EEF;
    text-decoration: none;
    

}
.aboutv3-rops .v3left .innerlogo{
    position: absolute;
    width: 337px;
    height: 117px;
    left: 20px;
    top: 370px;
}
.aboutv3-rops .v3left .innerlogo img{
    width: 20%;
    margin-right: 20px;
}
.aboutv3-rops .v3right{
    position: relative;
}
.aboutv3-rops .v3right .bigimage1{
    position: relative;
    width: 915px;
    height: 621px;
    left: -50px;
    top: 117px;
    
   
    
}
.aboutv3-rops .v3right .vector1{
    position: absolute;
    left: 89.07%;
    right: 13.15%;
    top: 0%;
    bottom: 89.5%;
    

   
    
}
.aboutv3-rops .v3right .vector2{
    position: absolute;
    left: 50.49%;
    right: 29.4%;
    top: 12.48%;
    bottom: 88.22%;

    
}
.aboutv3-rops .v3right .vector3{

    position: absolute;
    left: 98.85%;
    right: 7.41%;
    top: 61.92%;
    bottom: 86.04%;


}
.the-features{
    padding-top: 60px;
    padding-bottom: 60px;
}
.the-features .feature-left{
    padding-top: 80px;
    padding-bottom: 80px;
}
.the-features .feature-left h2{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    
    
    text-align: left;
    
    color: #18204C;
}

.the-features .feature-left p{

    
    height: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
   

    color: #7C819B;
}
.the-features .feature-left .features-listitem{
    list-style-type: none; ;
}
.the-features .feature-left .features-listitem li  .features-listitem-text{
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    


    color: #345EEF;
}   
.the-features .feature-v3img{
    padding-top: 80px;
}
.start-steps .col-sm-4{
    margin-bottom: 80px;
    padding: 60px;
}
.start-steps .col-sm-4 p{
    color: #9C9494;
}
.start-steps .col-sm-4 h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
}
.start-steps{
    margin-top: 40px;
}
.start-steps .col-sm-4:hover{
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.06);
}
.start-steps .col-sm-4:hover .steps-cardbtn button{
    visibility: visible;
} 
.steps-cardbtn{
    margin-top: 40px;
}
.steps-cardbtn button{
    background-color: #345EEF;
    padding: 5px 18px;
    border-radius: 15px;
    color: white;
    border: none;
    visibility: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    flex: none;

}
.start-steps .dotted-line{
    position: absolute;
    width: 800px;
    height: 0px;
    left: 433px;
    top: 5085.5px;
    border: 1px dashed #4f70eb;
    
}
.start-steps .dotted-line2{
    position: absolute;
    width: 800px;
    height: 0px;
    left: 433px;
    top: 5526.5px;
    

    border: 1px dashed #345EEF;
}
.start-steps .dotted-rect{
    position: absolute;
    width: 463px;
    height: 444px;
    left: 1220px;
    top: 5105px;
    
}
.rv3-support{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) -2.41%, rgba(240, 238, 255, 0.8) 45.6%);
    padding-left: 360px;
    padding-right: 360px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.rv3-support .circle-bluefaded{
    position: absolute;
    width: 450px;
    left: 0px;
    top: 0px;
}
.rv3-support .support-img{
    width: 370px;
    float: right;
    margin-top: 60px;
    margin-right: 30px;
}
.rv3-support .col-sm-6{
    padding-top: 50px;
}
.rv3-support h2{
    font-size: 60px;
    font-weight: 600;
}
.rv3-support h3{
    font-size: 30px;
    font-weight: 700;
}
.rv3-support p{
    font-size: 20px;
    line-height: 29px;
    font-family: 'Montserrat';
font-style: normal;
 


    color: #5B5B5B;
}
.rv3-support .support-more{
    margin-top: 40px;
}
.rv3-support .support-info{
    margin-top: 20px;
}

.support-reviews{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    
}

.support-reviews .reviews-card{
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 4px 60px 6px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 25px;
    padding: 10px;
   
}
.reviews-card .col-sm-8 small{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
   


    color: #345EEF;
}
.review-stars{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.support-reviews .reviews-card .support-reviewimg{
    padding: 20px;
}
.talk-townsection .inner-townsection2 .talktown-person{
        width: 100%;
}
.talk-townsection .inner-townsection1{
    padding: 120px;
}
.talk-townsection h1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;

}
.talk-townsection .col-sm-6{
    margin-top: 50px;
}

.talk-townsection {
    margin: 40px 0px;
}
.talk-townsection .inner-townsection1 h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.talk-townsection .inner-townsection1 .task-info .talk-personname{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
}
.talk-townsection .inner-townsection1 .task-info{
    margin-top: 40px;
}
.talk-townsection .inner-townsection1 .task-info h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
}
.talk-townsection .talktown-info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #5B5B5B;
}
.v3getstarted{

    padding-top: 50px;

    background: linear-gradient(178.55deg, rgba(240, 238, 255, 0.8) -1.11%,  rgba(255, 255, 255, 0.8) 109.65%);
    
}
.v3getstarted .v3getstartedright{
    padding: 260px 100px 0px 0px;

}
.v3getstarted .v3getstartedright h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
   


    color: #18204C;
}
.v3getstarted .v3getstartedright p{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-right: 200px ;


    color: #7C819B;
}
.v3getstarted .v3getstartedright .v3getstartedright-btn button{
  
    padding: 5px 18px;
    width: 200px;
    border: none;
    margin-top: 40px;
    margin-right: 40px;
    background: #345EEF;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;


    color: #FFFFFF;
}
.v3signup-cta .v3signup-inner .v3signup-ctabtn button{
    padding: 5px 18px;
    width: 298px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: none;
    margin-top: 40px;
    color: #345EEF;
}
.v3signup-cta .v3signup-inner .v3signup-cta-text h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    


    color: #FFFFFF;
}
.v3signup-cta .v3signup-inner .v3signup-cta-text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;


    color: #FFFFFF;
}
.v3signup-cta{
    padding: 140px 220px 250px 220px;
    background-color: #4267eb;
}
.v3signup-cta .v3signup-inner .v3signup-cta-arrow .cta-arrow{
        font-size: 60px;
        margin-top: 40px;
        color: #FFFFFF;
}
