<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NMVBVZ5');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    {% include favicon.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5a50d614079115001207f66b&product=inline-share-buttons' async='async'></script>
    
  </head>
  <body class="layout-blog">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMVBVZ5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
    <!-- navbar -->
    <header class="default-header">{% include header.html %}</header>
    <div class="integration-banner">
        <img src="/images/razorops-logo.png" height="65">
        <h2>Connect To Your Favourite Apps</h2>
    </div>
    <div class="container top-integration">
        <div class="row">
            <a href="{{ site.baseurl }}/integration/bitbucket/" class="text-decoration-none">
                <div class="col-sm-4 integration-box">
                    <div class="integration-content">
                        <img src="/images/integration/bitbucket-integration.png"  height="82">
                        <div class="integration-body">
                            <h3>Bitbucket</h3>
                            <p>Do integrate with your amazing favourite app.</p>
                            <a href="{{ site.baseurl }}/integration/bitbucket/" class="text-decoration-none more-link">Learn More</a>
                        </div>	
                    </div>
                </div>
            </a>
            <a href="{{ site.baseurl }}/integration/docker/" class="text-decoration-none">
                <div class="col-sm-4 integration-box">
                    <div class="integration-content">
                        <img src="/images/integration/docker-integration.png"  height="82">
                        <div class="integration-body">
                            <h3>Docker</h3>
                            <p>Do integrate with your amazing favourite app.</p>
                            <a href="{{ site.baseurl }}/integration/docker/" class="text-decoration-none more-link">Learn More</a>
                        </div>	
                    </div>
                </div>
            </a>
            <a href="{{ site.baseurl }}/integration/firebase/" class="text-decoration-none">
                <div class="col-sm-4 integration-box">
                    <div class="integration-content">
                        <img src="/images/integration/firebase-integration.png"  height="82">
                        <div class="integration-body">
                            <h3>Firebase</h3>
                            <p>Do integrate with your amazing favourite app.</p>
                            <a  href="{{ site.baseurl }}/integration/firebase/" class="text-decoration-none more-link">Learn More</a>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
    <h1 class="text-capitalize text-center">Integrate RazorOps with {{ page.title }}</h1>
    <hr>
    <div class="content-wraper">
      <div class="blog-wraper">
        <div class="container">
            
            <div class="row">
                    <div class="col-md-3 integration-menu">
                        <div class="container">
							<h3>Integrations Tools</h3>
							<br>
							{% assign integrationtool = site.integration %}
							<a class="menu-btn" data-toggle="collapse" href="#cloudplatform" role="button" aria-expanded="false" aria-controls="cloudplatform">
								Cloud Platform
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</a>	
							<div class="collapse" id="cloudplatform">
								<div class="card card-body">
									<ul class="liststyle-none">
								
										{% for post in integrationtool reversed %}
											{% for category in post.category %}
												{% if category == 'cloud platform' %}
												<li><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">
													
														<h4 class="text-capitalize text-15"><img src="{{ post.logo }}" width="24" height="100%">  {{ post.title }}</h4>
																									
												</a></li>
												{% endif %} 
										  	{% endfor %}
										{% endfor %}
									</ul>	
		
								</div>
							</div>
							<br>
							<br>
							<a class="menu-btn" data-toggle="collapse" href="#container" role="button" aria-expanded="false" aria-controls="container">
								Container
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</a>	
							<div class="collapse" id="container">
								<div class="card card-body">
									<ul class="liststyle-none">
								
										{% for post in integrationtool reversed %}
											{% for category in post.category %}
												{% if category == 'container' %}
												<li><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">
													
														<h4 class="text-capitalize text-15"><img src="{{ post.logo }}" width="24" height="100%">  {{ post.title }}</h4>
																									
												</a></li>
												{% endif %} 
										  	{% endfor %}
										{% endfor %}
									</ul>	
		
								</div>
							</div>
							<br>
							<br>
							<a class="menu-btn" data-toggle="collapse" href="#artifactregistry" role="button" aria-expanded="false" aria-controls="artifactregistry">
								Docker Registory
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</a>	
							<div class="collapse" id="artifactregistry">
								<div class="card card-body">
									<ul class="liststyle-none">
								
										{% for post in integrationtool reversed %}
											{% for category in post.category %}
												{% if category == 'artifact registry' %}
												<li><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">
													
														<h4 class="text-capitalize text-15"><img src="{{ post.logo }}" width="24" height="100%">  {{ post.title }}</h4>
																									
												</a></li>
												{% endif %} 
										  	{% endfor %}
										{% endfor %}
									</ul>	
		
								</div>
							</div>
							<br>
							<br>
							<br>
						  </div>  
                    </div>
                    <div class="col-sm-9">
                        <div class="blog-post-content" id="blog-post-margins">
                            <div class="blog-post-body">
                            <h1 class="text-capitalize">{{ page.title }}</h1>
                             <br>   
                            {{ content }}
                            <br><br>
                            </div>
                        </div>
                        <br><br>
                    </div>   
             
                 </div>   
           
             
                        <div class="banner-clients bg-white">
                            <div class="container">
                            <div class="clearfix"></div>
                                <div class="slider">
                                    <div class="slide-track">
            
                                        <div class="slide2">
                                            <img src="/images/clients/kubernetes.png" alt="kubernetes" >
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/docker.png" alt="docker" >
                                        </div>
            
                                        <div class="slide2">
                                            <img src="/images/clients/google-cloud.png" alt="google-cloud">
                                        </div>
            
                                        <div class="slide2">
                                            <img src="/images/clients/aws.png" alt="AWS" >
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/azure.png" alt="azure" >
                                        </div>
            
                                        <div class="slide2">
                                            <img src="/images/clients/digitalocean.png" alt="digitalocean">
                                        </div>
            
                                        <div class="clearfix"></div>
            
                                        <div class="slide2">
                                            <img src="/images/clients/git.png" alt="git" >
                                        </div>
            
                                        <div class="slide2">
                                            <img src="/images/clients/github.png" alt="github">
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/bitbucket.png" alt="bitbucket">
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/gitlab.png" alt="gitlab" >
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/email.png" alt="email" >
                                        </div>
                                        <div class="slide2">
                                            <img src="/images/clients/slack.png" alt="slack" >
                                        </div>
                                        <div class="clearfix"></div>
            
                                    </div>
            
                                </div>
                            </div>
                
                        </div>
                    

          
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
