<!DOCTYPE html>
<html lang='en'>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:type" content="CI/CD DevOps Platform"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  {% include favicon.html %}
  <link rel='stylesheet' href="{{ site.baseurl }}/css/bootstrap.min.css" />
  <link rel='stylesheet' href="{{ site.baseurl }}/v3/css/main.css" />


</head>

<body>
  
  <div class="v3home-header">
        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script src='{{ site.baseurl }}/js/app.js'></script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navcontainer">
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">
        <img src="{{ site.baseurl }}/images/razorops-assets/razorops-white-logo.png" height="35" alt="razorops"/>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="text-transform: uppercase;">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown nav-dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Product
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/product">Overview</a></li>
            <li><a href="/product#how-it-works">How It works</a></li>
            <li><a href="/product#features">Features</a></li>
            <!-- <li><a href="/kubernetes">Kubernetes GitOps</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="/schedule-demo">Schedule a demo</a></li>
          </ul>
        </li>

        <!-- <li><a href="/covid-19" class="btn btn-rounded btn-info">Our COVID-19 response</a></li> -->
        <!-- <li><a href="/product">Product</a></li> -->
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="https://docs.razorops.com/" target="_blank">Docs</a></li>
        <li class="dropdown nav-dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Resources
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="https://docs.razorops.com/" target="_blank">Documents</a></li>
            <li><a href="/customers">Case Studies</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/write-for-us">Write for us</a></li>
            <!-- <li><a href="/ebooks">Ebooks</a></li> -->
            <!-- <li role="separator" class="divider"></li>
            <li><a href="/schedule-demo">Schedule a demo</a></li> -->
          </ul>
        </li>

        <li class="dropdown nav-dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Company
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/about" title="About" >About Us</a></li>
            <!-- <li><a href="/contact" title="Conatct">Contact Us</a></li> -->
            <li><a href="/customers">Customers</a></li>
            <li><a href="/open-source">Open Source</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/referral">Refer and Earn</a></li>
            <li><a href="/jobs">We are Hiring!</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="/schedule-demo">Schedule a demo</a></li> -->
            <li><a href="/contact" title="Contact">Contact Us</a></li>
          </ul>
        </li>

        <li class="all-btns"><a href="https://dashboard.razorops.com/users/sign_in" class="txt-blue">Login</a></li>
        <!-- <li><a href="/signup">Sign Up</a></li> -->
        <li class="new-btns "><a href="https://dashboard.razorops.com/users/sign_up" class="txt-blue">Sign up</a></li>
        <li class="mob-nav-button new-btns blue-bg"><a href="/schedule-demo">Schedule a demo</a> </li>&nbsp;&nbsp;
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
</nav>


  </div>
  <!-- Page content -->
  {{ content }}

  <!--footer-->

<!-- Footer -->
<div class="footer v3footer-dark">
  <div class="container">
    <div class="row">
    <div class="instructors_background" ></div>
    <div class="the-razorops col-sm-4">
        <h3>Razorops</h3>
        <p>It is important to speak out and address a mental health issue. Therhappi is here to provide you with all the support you need. Take the right step, talk to us.</p>
    </div>
    <div class="all-razoropslink col-sm-8">
      <div class="col-md-3 col-sm-3 col-xs-6 footer-item mb-10">
        <h3 class="cta__title">Product</h3>
        <ul class="footer-nav">
          <li><a href="/product">Overview</a></li>
          <li><a href="/product#how-it-works">How It Works</a></li>
          <li><a href="/product#features">Features</a></li>
          <li><a href="/product#integrations">Integrations</a></li>
          <!-- <li><a href="/docker">Docker CI/CD</a></li> -->
          <!-- <li><a href="/kubernetes">Kubernetes</a></li> -->
          <!-- <li><a href="/kubernetes-gitops">Kubernetes GitOps</a></li> -->
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/schedule-demo">Schedule Demo</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 footer-item mb-10">
        <h3 class="cta__title">Company</h3>
        <ul class="footer-nav">
          <li><a href="/about" title="About" >About Us</a></li>
          <li><a href="/contact" title="Conatct">Contact Us</a></li>
          <li><a href="/customers">Customers</a></li>
          <li><a href="/open-source">Open Source</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/referral">Refer and Earn</a></li>
          <li><a href="/jobs">We are Hiring!</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 footer-item mb-10">
        <h3 class="cta__title">Resources</h3>
        <ul class="footer-nav">
          <li><a href="https://docs.razorops.com/" target="_blank">Documentation</a></li>
          <li><a href="https://docs.razorops.com/getting_started/" target="_blank">Getting Started</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li>
          <li><a href="/customers">Case Studies</a></li>
          <li><a href="https://www.youtube.com/channel/UCq-0f5HPIAJ_2Ds6uvwBW4g" target="_blank">Videos</a></li>
          <li><a href="/webinars">Webinars</a></li>
          <li><a href="/write-for-us">Write for us</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 footer-item mb-10">
        <h3 class="cta__title">Support</h3>
        <ul class="footer-nav">
          <li><a href="/faq" title="FAQ" >FAQ</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/security">Security</a></li>
          <li><br></li>
          <li><a href="https://www.producthunt.com/posts/razorops" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=276663&theme=light" alt="Razorops - a container native continuous delivery platform | Product Hunt" style="max-width: 100%; height: auto; object-fit: contain;" /></a></li>
        </ul>
      </div>
    </div>
      
    </div>
  </div>
</div>

<hr class="footer-hr">

<div class="lower-footer text-center">
  <span class="d-inline-block"> Copyright &copy;
   <span id="year"></span> Razorops, All Rights Reserved.&nbsp;
  </span>


  <span class="footer-social d-inline-block">
    <a href="https://www.linkedin.com/company/razorops" target="_blank"><img src="/images/v2/linkedin.svg" alt="Linkedin" title="Linkedin" width="24" height="24"></a>

    <a href="https://github.com/RazorOp" target="_blank" ><img src="/images/v2/github.svg" alt="Github" title="Github" width="24" height="24"></a>

    <a href="https://twitter.com/razorops" target="_blank"><img src="/images/v2/twitter.svg" alt="Twitter" title="Twitter" width="24" height="24"></a>

    <a href=" https://www.facebook.com/razorops" target="_blank"><img src="/images/v2/facebook.svg" alt="Facebook" title="Facebook" width="24" height="24"></a>

    <a href="https://www.youtube.com/channel/UCq-0f5HPIAJ_2Ds6uvwBW4g" target="_blank"><img src="/images/v2/youtube.svg" alt="youtube" title="Youtube" width="24" height="24"></a>

    <a href="https://api.whatsapp.com/send/?phone=918688468400&text=Hi%20Shyam,%20I%20like%20to%20know%20more%20about%20Razorops%20CICD&app_absent=0" target="_blank"><img src="/images/v2/whatsapp.svg" title="whatsapp" alt="Whatsapp" width="24" height="24"></a>

    <a href="https://join.slack.com/share/enQtMzM0ODg5MDI3MjIyOS1mMmM5NmI0YWUzMGI4Y2YzNjZlMTEyMDQ1NmQyNGFjOTFhNTE3YmUyMmM3OTdiMWY4NTA3ZDU4ZDA5NmNlOWNl" target="_blank"><img src="/images/v2/slack.webp" title="slack" alt="Slack" width="24" height="24"></a>

    <a href="https://t.me/+F3o5iCzYFqeSd54d" target="_blank"><img src="/images/v2/telegram.png" alt="telegram" title="Telegram" width="24" height="24"></a>

  </span>
</div>




<script type="text/javascript">
  $(document).ready(function(){
    $('#year').html(new Date().getFullYear());
  })
</script>


{% include third-party-js.html %}




</body>

</html>